{% extends 'layouts/base.html' %}
{% load static i18n humanize custom_tags %}

{% block content %}
<div class="row">

</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table">
                    <tbody>
                    <tr>
                        <td class="border-0 p-0 pl-2 text-left">{% translate 'Approved' %}</td>
                        <td class="border-0 p-0 pr-2 text-right font-weight-bold">{{ packages_approved.count }}</td>
                    </tr>
                    <tr>
                        <td class="border-0 p-0 pl-2 text-left">{% translate 'Rejected' %}</td>
                        <td class="border-0 p-0 pr-2 text-right font-weight-bold">{{ packages_rejected.count }}</td>
                    </tr>
                    <tr>
                        <td class="border-0 p-0 pl-2 text-left">{% translate 'Pending for approval' %}</td>
                        <td class="border-0 p-0 pr-2 text-right font-weight-bold">{{ packages_pending_approval.count }}</td>
                    </tr>
                    <tr>
                        <td class="border-0 p-0 pl-2 text-left">{% translate 'Pending for submission' %}</td>
                        <td class="border-0 p-0 pr-2 text-right font-weight-bold">{{ packages_pending_submission.count }}</td>
                    </tr>
                    <tr>
                        <td class="border-0 p-0 pl-2 text-left">{% translate 'Under execution' %}</td>
                        <td class="border-0 p-0 pr-2 text-right font-weight-bold">{{ packages_under_execution.count }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link"
                            data-target="#collapseTwo" data-toggle="collapse">
                         {% translate 'Investment packages requests' %}
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingTwo" class="collapse show" id="collapseTwo">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{% translate 'Date created' %}</th>
                                    <th>{% translate 'Last modified' %}</th>
                                    <th>{% translate '# of projects' %}</th>
                                    <th>{% translate 'Total amount' %}</th>
                                    <th>{% translate 'Organization' %}</th>
                                    <th>{% translate 'Status' %}</th>
                                    <th>{% translate 'Notes' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for package in package_list %}
                                <tr>
                                    <td>{{ package.created_date|date:"d/m/Y" }}</td>
                                    <td>{{ package.updated_date|date:"d/m/Y" }}</td>
                                    <td>{{ package.funded_investments.all.count|intcomma }}</td>
                                    <td>{{ package.estimated_final_cost|intcomma }} FCFA</td>
                                    <td>{{ package.user.organization }}</td>
                                    <td>
                                        {% if package.status == package.PENDING_SUBMISSION %}
                                        {% translate 'Pending Submission' %}
                                        {% elif package.status == package.PENDING_APPROVAL %}
                                        {% translate 'Pending Approval' %}
                                        {% elif package.status == package.APPROVED %}
                                        {% translate 'Approved' %}
                                        {% elif package.status == package.REJECTED %}
                                        {% translate 'Rejected' %}
                                        {% elif package.status == package.UNDER_EXECUTION %}
                                        {% translate 'Under Execution' %}
                                        {% elif package.status == package.PARTIALLY_APPROVED %}
                                        {% translate 'Partially Approve' %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if package.status != package.PENDING_APPROVAL and package.status != package.PENDING_SUBMISSION %}
                                            <span>{% translate 'Review by' %}</span> <b>{{ package.review_by }}</b>
                                            {% if package.status == package.REJECTED %}
                                                <br>
                                                <br>
                                                <span>{% translate 'Reason' %}:</span>
                                                <b>
                                                    {% if package.rejection_reason is None %} {% translate 'No reason' %} {% else %} {{ package.rejection_reason }} {% endif %}
                                                </b>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="removePackageModal" tabindex="-1" role="dialog" aria-labelledby="removePackageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="" method="POST" name="remove-package-form" id="remove-package-form-id">
                <div class="modal-header">
                    <h5 class="modal-title" id="removePackageModalLabel">{% translate 'Are you sure do you want to remove the package?' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="hidden" name="clear-package-input">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
                    <input type="submit" class="btn btn-danger" name="clear-package-submit" value="{% translate 'Remove' %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $( document ).ready(function() {

        $('.user-form-action').on('click', function(){

            let user_id = $(this).attr('name');
            let action = $(this).attr('id').split('-')[0];

            $('#action-input-form-' + user_id).attr('value', action);

            $('#approve-user-form-id-' + user_id).submit();

        });

    });
</script>
{% endblock %}