{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div >
                <div class="row">
                    <div class="col-5" class="input-group mb-3 search-bar">
                        <div method="get" class="d-flex">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" id="search" placeholder="{% translate 'Search in table' %}...">
                        </div>
                    </div>
                    <div class="col-6" class="input-group mb-3 search-bar">
                        <form method="get" class="d-flex">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="hidden" name="type" value="{{ type }}">
                            <input class="form-control" name="search" placeholder="{% translate 'Search in database' %}...">
                            <input class="btn btn-primary" type="submit" value="{% translate 'Search' %}">
                        </form>
                    </div>
                    <div class="col-1" class="input-group mb-3 search-bar">
                        <form method="get" class="d-flex">
                            <input type="hidden" name="search" value="All">
                            <input type="hidden" name="type" value="{{ type }}">
                            <input class="btn btn-primary" type="submit" value="{% translate 'All' %}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            <div class="" style="display: inline-block;">
                                <button class="btn btn-primary" style="display: inline-block;" 
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% translate 'Others' %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
                                    <a class="dropdown-item" href="?type=Village">
                                    Village
                                    </a>
                                    <a class="dropdown-item" href="?type=Canton">
                                    Canton
                                    </a>
                                    <a class="dropdown-item" href="?type=Commune">
                                    Commune
                                    </a>
                                    <a class="dropdown-item" href="?type=Prefecture">
                                    Prefecture
                                    </a>
                                    <a class="dropdown-item" href="?type=Region">
                                    Region
                                    </a>
                                </div>
                            </div>
                            {% if user.is_superuser or user|has_group:"Admin" %}
                            <div> &nbsp; &nbsp; </div>
                            <div class="" style="display: inline-block;">
                                <button class="btn btn-primary" style="display: inline-block;" 
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% translate 'Create Administrative level' %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
                                    <a class="dropdown-item" href="{% url 'administrativelevels:create' %}?type=Village">
                                    Village
                                    </a>
                                    <a class="dropdown-item" href="{% url 'administrativelevels:create' %}?type=Canton">
                                    Canton
                                    </a>
                                    <a class="dropdown-item" href="{% url 'administrativelevels:create' %}?type=Commune">
                                    Commune
                                    </a>
                                    <a class="dropdown-item" href="{% url 'administrativelevels:create' %}?type=Prefecture">
                                    Prefecture
                                    </a>
                                    <a class="dropdown-item" href="{% url 'administrativelevels:create' %}?type=Region">
                                    Region
                                    </a>
                                </div>
                            </div>
                            {% endif %}

                            <div> &nbsp; &nbsp; </div>
                            <a class="btn btn-primary" href="{% url 'administrativelevels:geographical_units_list' %}">{% translate 'Geographical unit' %}</a>
                            <div> &nbsp; &nbsp; </div>
                            <a class="btn btn-primary" href="{% url 'administrativelevels:cvds_list' %}">{% translate 'CVD' %}</a>
                        </div>

                        <div class="btn-group pull-right">
                            {% if user.is_superuser or user|has_group:"Admin" %}
                                {% include 'components/upload.html' %}
                                <div> &nbsp; &nbsp; </div>
                            {% endif %}
                            {% include 'components/download.html' %}
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    {% make_list "Village" as begin_village %}
                    {% make_list "Village" "Canton" as begin_canton %}
                    {% make_list "Village" "Canton" "Commune" as begin_commune %}
                    {% make_list "Village" "Canton" "Commune" "Prefecture" as begin_prefecture %}
                    {% make_list "Village" "Canton" "Commune" "Prefecture" "Region" as begin_region %}
                    <table id="table" class="table">
                        <thead>
                        <tr>
                            {% if type in begin_village %}<th>{% translate 'Village' %}</th>{% endif %}
                            {% if type in begin_canton %}<th>{% translate 'Canton' %}</th>{% endif %}
                            {% if type in begin_commune %}<th>{% translate 'Commune' %}</th>{% endif %}
                            {% if type in begin_prefecture %}<th>{% translate 'Prefecture' %}</th>{% endif %}
                            <th>{% translate 'Region' %}</th>
                            <th>{% translate 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for administrativelevel in administrativelevels %}
                            <tr>
                                <td>{{ administrativelevel.name }}</td>
                                {% if type in begin_prefecture %}<td>{{ administrativelevel.parent.name }}</td>{% endif %}
                                {% if type in begin_commune %}<td>{{ administrativelevel.parent.parent.name }}</td>{% endif %}
                                {% if type in begin_canton %}<td>{{ administrativelevel.parent.parent.parent.name }}</td>{% endif %}
                                {% if type in begin_village %}<td>{{ administrativelevel.parent.parent.parent.parent.name }}</td>{% endif %}
                                <td>
                                     {% comment %} <a href="{% url 'administrativelevels:village_detail' administrativelevel.pk %}"
                                       class="btn btn-primary btn-xs">
                                        {% translate 'View details' %}
                                    </a> {% endcomment %}
                                    <a href="{% url 'administrativelevels:detail' administrativelevel.pk %}?type={{ type }}"
                                       class="btn btn-primary btn-xs" title="{% translate 'View details' %}" >
                                        <span class="_mobile"><i class="fa fa-eye"></i></span>
                                    </a>
                                    {% if user.is_superuser or user|has_group:"Admin" %}
                                    <a href="{% url 'administrativelevels:update' administrativelevel.pk %}?type={{ type }}"
                                       class="btn btn-primary btn-xs" title="{% translate 'Edit' %}" >
                                        <span class="_mobile"><i class="fa fa-edit"></i></span>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if administrativelevels.has_previous %}
                                <li>
                                    <a class="page-link" href="?page={{ administrativelevels.previous_page_number }}">
                                        {% comment %} <span aria-hiden="true">&laquo;</span> {% endcomment %}
                                        <i class="fa fa-arrow-left text-bold"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <p class="page-link text-bold">
                                    {% translate 'Page' %} {{ administrativelevels.number }} {% translate 'of' %} {{ administrativelevels.paginator.num_pages }}
                                </p>
                            </li>
                            {% if administrativelevels.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ administrativelevels.next_page_number }}">
                                        {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                                        <i class="fa fa-arrow-right text-bold"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ],
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
    </script>
{% endblock %}
