{% extends 'layouts/base.html' %}
{% load static i18n humanize bootstrap4 custom_tags %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/datepicker/date-picker.css' %}" />
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card">
            
            <div class="card-body">
                <div class="clearfix"  id="attachments_images"></div>

                <div class="overlay" id="spin-attachments-images">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold">{% translate "Planning status" %}</h5>
            </div>
            <div class="card-body">
                <div class="clearfix" id="planning_status"></div>

                <div class="overlay" id="spin-spin-planning-status">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold">{% translate "Population" %}</h5>
            </div>
            <div class="card-body">
                <div class="clearfix" id="overview"></div>

                <div class="overlay spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <style>
                .nav-tabs .nav-item a {
                    font-size: 12px !important;
                }
                .nav-tabs .nav-item {
                    width: 14% !important;
                }
            </style>
            <div class="card-body table-responsive">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item btn"><a class="nav-link active" data-toggle="tab" href="#priorities">{% translate "Priorities" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#village_population">{% translate "Village population" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#infrastructure_services">{% translate "Infrastructure and Services" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#planning_cycle">{% translate "Planning Cycle" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#financial_informations">{% translate "Financial informations" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#grm">{% translate "GRM" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#diagnostics">{% translate "Diagnostics" %}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="priorities" class="tab-pane active">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="align-middle" rowspan="2">{% translate "Rank" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Priority to the village" %}</th>
                                                <th class="align-middle" colspan="4">{% translate "Prioritized by" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Beneficiaries" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Estimate cost" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Fund by" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Contribution to climate" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Actions" %}</th>
                                            </tr>
                                            <tr>
                                              <th class="bg-yellow">J</th>
                                              <th class="bg-blue">F</th>
                                              <th class="bg-orange">ME</th>
                                              <th class="bg-green">AE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for priority in priorities %}
                                            <tr>
                                                <td>{{ priority.ranking }}</td>
                                                <td>{{ priority.name }}</td>
                                                <td>{% if priority.votes_young is not None  %}{{ priority.votes_young }}{% endif %}</td>
                                                <td>{% if priority.votes_woman is not None  %}{{ priority.votes_woman }}{% endif %}</td>
                                                <td>{% if priority.votes_me is not None  %}{{ priority.votes_me }}{% endif %}</td>
                                                <td>{% if priority.votes_ae is not None  %}{{ priority.votes_ae }}{% endif %}</td>
                                                <td>{{ priority.beneficiaries }}</td>
                                                <td>{{ priority.estimated_cost|intcomma }}</td>
                                                <td>{{ priority.financed_by }}</td>
                                                <td>{% if priority.contrubution_to_climate %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</td>
                                                <td><i class="nav-icon fa fa-list" data-toggle="modal" data-target="#exampleModal"></i></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="village_population" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Population and community details" %}</h5>
                                                    <div id="population_and_community_details"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-population-community-details">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Civil servants and associations in the village" %}</h5>
                                                    <div id="civil_servants_associations"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-civil-servants-associations">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="infrastructure_services" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Infrastructure and Services" %}</h5>
                                                    <div id="infrastructure_and_services"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-infrastructure-services">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="planning_cycle" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="financial_informations" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="grm" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="diagnostics" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block modals %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% bootstrap_form form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}


<script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.custom.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        {% get_current_language as lang %}
        let spin_suprojects_financing = $('#spin-suprojects-financing');
        spin_suprojects_financing.show();

        let spin = $('.spin');

        spin.show();
        $.ajax({
            type: 'GET',
            url: "{% url 'administrativelevels:components:overview' object.pk %}",
            data: {

            },
            success: function (data) {
                spin.hide();
                $("#overview").html(data);
            },
            error: function (data) {
                alert(error_server_message + "Error " + data.status);
            }
        }).done(function () {
                spin.hide();
            }
        );


        //Priorities Sector
        let spin_sector_priorities = $('#spin-sector-priorities');
        spin_sector_priorities.show();
        $.ajax({
            type: 'GET',
            url: "{% url 'subprojects:components:by_sector_and_administrative_level' object.pk %}",
            data: {

            },
            success: function (data) {
                spin_sector_priorities.hide();
                $('#priorities_by_sector').html(data);
            },
            error: function (data) {
                spin_sector_priorities.hide();
                alert(error_server_message + "Error " + data.status);
            }
        }).done(function () {
                spin_sector_priorities.hide();
            }
        );
        //End priorities Sector


        //Summary Subprojects
        let spin_summary_subprojects = $('#spin-summary-subprojects');
        spin_summary_subprojects.show();
        $.ajax({
            type: 'GET',
            url: "{% url 'subprojects:components:by_administrative_level' object.pk %}",
            data: {

            },
            success: function (data_summary) {
                spin_summary_subprojects.hide();
                $('#summary_subprojects').html(data_summary);
            },
            error: function (data_summary) {
                spin_summary_subprojects.hide();
                alert(error_server_message + "Error " + data_summary.status);
            }
            }).done(function () {
                    spin_summary_subprojects.hide();
                }
            );
        //End Summary Subprojects


        

    });
</script>
{% endblock %}