{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/datepicker/date-picker.css' %}" />
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card">
            
            <div class="card-body">
                <div class="clearfix"  id="attachments_images"></div>

                <div class="overlay" id="spin-attachments-images">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold">{% translate "Planning status" %}</h5>
            </div>
            <div class="card-body">
                <div class="clearfix" id="planning_status"></div>

                <div class="overlay" id="spin-spin-planning-status">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold">{% translate "Population" %}</h5>
            </div>
            <div class="card-body">
                <div class="clearfix" id="overview"></div>

                <div class="overlay spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <style>
                .nav-tabs .nav-item a {
                    font-size: 12px !important;
                }
                .nav-tabs .nav-item {
                    width: 14% !important;
                }
            </style>
            <div class="card-body table-responsive">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item btn"><a class="nav-link active" data-toggle="tab" href="#priorities">{% translate "Priorities" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#village_population">{% translate "Village population" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#infrastructure_services">{% translate "Infrastructure and Services" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#planning_cycle">{% translate "Planning Cycle" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#financial_informations">{% translate "Financial informations" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#grm">{% translate "GRM" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#diagnostics">{% translate "Diagnostics" %}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="priorities" class="tab-pane active">
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        {% comment %} <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="text-center">{% translate "Priority needs" %}</h5>
                                                    <div id=""></div>
                                                    <span>{% translate "In construction" %}</span>
                                                </div>
                                                
                                                <div class="overlay" id="spin-priority-needs">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="text-center">{% translate "Sub-component priorities" %}</h5>
                                                    <div id=""></div>
                                                    <span>{% translate "In construction" %}</span>
                                                </div>
                                                
                                                <div class="overlay" id="spin-Subcomponent-priorities">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="text-center">{% translate "Vision and Obstacles" %}</h5>
                                                    <div id=""></div>
                                                    <span>{% translate "In construction" %}</span>
                                                </div>
                                                
                                                <div class="overlay" id="spin-vision-obstacles">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        {% translate "Priority needs" %}
                                                    </button>
                                                </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div id="priority_needs"></div>
                                                    <span>{% translate "In construction" %}</span>
                                                </div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-priority-needs">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    {% translate "Sub-component priorities" %}
                                                    </button>
                                                </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    <span>{% translate "In construction" %}</span>
                                                </div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-Subcomponent-priorities">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    {% translate "Vision and Obstacles" %}
                                                    </button>
                                                </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <span>{% translate "In construction" %}</span>
                                                </div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-vision-obstacles">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>





                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-center">{% translate "Subprojects" %}</h5>
                                            <div id="summary_subprojects"></div>
                                        </div>
                                    </div>

                                    <div class="overlay" id="spin-summary-subprojects">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="village_population" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Population and community details" %}</h5>
                                                    <div id="population_and_community_details"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-population-community-details">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Infrastructure and Services" %}</h5>
                                                    <div id="infrastructure_and_services"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-infrastructure-services">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="infrastructure_services" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="planning_cycle" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="financial_informations" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="grm" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="diagnostics" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}
{{ block.super }}


<script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.custom.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        {% get_current_language as lang %}
        let spin_suprojects_financing = $('#spin-suprojects-financing');
        spin_suprojects_financing.show();

        let spin = $('.spin');

        spin.show();
        $.ajax({
            type: 'GET',
            url: "{% url 'administrativelevels:components:overview' object.pk %}",
            data: {

            },
            success: function (data) {
                spin.hide();
                $("#overview").html(data);
            },
            error: function (data) {
                alert(error_server_message + "Error " + data.status);
            }
        }).done(function () {
                spin.hide();
            }
        );


        //Priorities Sector
        let spin_sector_priorities = $('#spin-sector-priorities');
        spin_sector_priorities.show();
        $.ajax({
            type: 'GET',
            url: "{% url 'subprojects:components:by_sector_and_administrative_level' object.pk %}",
            data: {

            },
            success: function (data) {
                spin_sector_priorities.hide();
                $('#priorities_by_sector').html(data);
            },
            error: function (data) {
                spin_sector_priorities.hide();
                alert(error_server_message + "Error " + data.status);
            }
        }).done(function () {
                spin_sector_priorities.hide();
            }
        );
        //End priorities Sector


        //Summary Subprojects
        let spin_summary_subprojects = $('#spin-summary-subprojects');
        spin_summary_subprojects.show();
        $.ajax({
            type: 'GET',
            url: "{% url 'subprojects:components:by_administrative_level' object.pk %}",
            data: {

            },
            success: function (data_summary) {
                spin_summary_subprojects.hide();
                $('#summary_subprojects').html(data_summary);
            },
            error: function (data_summary) {
                spin_summary_subprojects.hide();
                alert(error_server_message + "Error " + data_summary.status);
            }
            }).done(function () {
                    spin_summary_subprojects.hide();
                }
            );
        //End Summary Subprojects


        

    });
</script>
{% endblock %}