{% extends 'layouts/base.html' %}
{% load static i18n humanize bootstrap4 custom_tags %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/datepicker/date-picker.css' %}" />
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix"  id="attachments_images"></div>
                <div class="overlay" id="spin-attachments-images">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold">{% translate "Planning status" %}</h5>
            </div>
            <div class="card-body">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>{% translate "Current Phase" %}</th>
                            <td>{{ planning_status.current_phase }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Current Activity" %}</td>
                            <td>{{ planning_status.current_activity }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Current Task" %}</td>
                            <td>{{ planning_status.current_task }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Completed" %}</td>
                            <td>{{ planning_status.completed }}</td>
                        <tr>
                            <td>{% translate "Priorities Identified" %}</td>
                            <td>{{ planning_status.priorities_identified }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Village Development Plan Date" %}</td>
                            <td>{{ planning_status.village_development_plan_date }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Facilitator" %}</td>
                            <td>{{ planning_status.facilitator }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold">{% translate "Population" %}</h5>
            </div>
            <div class="card-body">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>{% translate "Total population" %}</th>
                            <td>{{ object.total_population }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Men" %}</td>
                            <td>{{ object.population_men }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Women" %}</td>
                            <td>{{ object.population_women }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Young" %}</td>
                            <td>{{ object.population_young }}</td>
                        <tr>
                            <td>{% translate "Population Elder" %}</td>
                            <td>{{ object.population_elder }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Handicap" %}</td>
                            <td>{{ object.population_handicap }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Agruculture" %}</td>
                            <td>{{ object.population_agriculturist }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Breeders" %}</td>
                            <td>{{ object.population_pastoralist }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Population Minorities" %}</td>
                            <td>{{ object.population_minorities }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Main languages" %}</td>
                            <td>{{ object.main_languages }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <style>
                .nav-tabs .nav-item a {
                    font-size: 12px !important;
                }
                .nav-tabs .nav-item {
                    width: 14% !important;
                }
            </style>
            <div class="card-body table-responsive">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item btn"><a class="nav-link active" data-toggle="tab" href="#priorities">{% translate "Priorities" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#village_population">{% translate "Village population" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#infrastructure_services">{% translate "Infrastructure and Services" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#planning_cycle">{% translate "Planning Cycle" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#financial_informations">{% translate "Financial informations" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#grm">{% translate "GRM" %}</a></li>
                        <li class="nav-item btn"><a class="nav-link" data-toggle="tab" href="#diagnostics">{% translate "Diagnostics" %}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="priorities" class="tab-pane active">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="align-middle" rowspan="2">{% translate "Rank" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Priority to the village" %}</th>
                                                <th class="align-middle" colspan="4">{% translate "Prioritized by" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Beneficiaries" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Estimate cost" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Fund by" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Contribution to climate" %}</th>
                                                <th class="align-middle" rowspan="2">{% translate "Actions" %}</th>
                                            </tr>
                                            <tr>
                                              <th class="bg-yellow">J</th>
                                              <th class="bg-blue">F</th>
                                              <th class="bg-orange">ME</th>
                                              <th class="bg-green">AE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for priority in priorities %}
                                            <tr>
                                                <td>{{ priority.ranking }}</td>
                                                <td>{{ priority.title }}</td>
                                                <td>{% if priority.endorsed_by_youth is not None  %}{{ priority.votes_young }}{% endif %}</td>
                                                <td>{% if priority.endorsed_by_women is not None  %}{{ priority.votes_woman }}{% endif %}</td>
                                                <td>{% if priority.endorsed_by_agriculturist is not None  %}{{ priority.votes_me }}{% endif %}</td>
                                                <td>{% if priority.endorsed_by_pastoralist is not None  %}{{ priority.votes_ae }}{% endif %}</td>
                                                <td>{{ priority.beneficiaries }}</td>
                                                <td>{{ priority.estimated_cost|intcomma }}</td>
                                                <td>{{ priority.responsible_structure }}</td>
                                                <td>{% if priority.contrubution_to_climate %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</td>
                                                <td><i class="nav-icon fa fa-bars" data-toggle="modal" data-target="#exampleModal"></i></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="village_population" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Population and community details" %}</h5>
                                                    <div id="population_and_community_details"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-population-community-details">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Civil servants and associations in the village" %}</h5>
                                                    <div id="civil_servants_associations"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-civil-servants-associations">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="infrastructure_services" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>{% translate "Infrastructure and Services" %}</h5>
                                                    <div id="infrastructure_and_services"></div>
                                                </div>
                                                
                                                <div class="overlay" id="spin-infrastructure-services">
                                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="planning_cycle" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="financial_informations" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="grm" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                        <div id="diagnostics" class="tab-pane fade">
                            <h3>{% translate "In construction" %}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block modals %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% bootstrap_form form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}

<!-- Attachments script for carrousel -->
<script type="text/javascript">
    let spin_attachments_images = $("#spin-attachments-images");
    let attachments_images = $("#attachments_images");
    spin_attachments_images.show();
    attachments_images.html(`
    {% if images_data.exists_at_least_image %}

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in images_data.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" {% if image.url == images_data.first_image.url %}class="active"{% endif %} ></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in images_data.images %}
                    <div class="carousel-item {% if image.url == images_data.first_image.url %}active{% endif %}">
                        <a href="{% url 'administrativelevels:village_attachments' adm_id %}">
                            <img class="d-block w-100" src="{{ image.url|imgAWSS3Filter }}"
                            style="height: 225px !important;"
                            alt="{{ image.task }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    {% else %}
    <a href="{% url 'administrativelevels:village_attachments' adm_id %}">
                <img class="card-img rounded" src="{% static 'images/village-image.jpg' %}"
    alt="Card image" style="height: 225px !important;">
    </a>

    {% endif %}
    `);
    spin_attachments_images.hide();

</script>

<script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.custom.js' %}"></script>

{% endblock %}