
{% load static i18n unicorn custom_tags %}
<div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            <a class="text-primary font-weight-bold" href="#">A- {% translate 'Obstacles' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% for object in obstacles %}
                    <div>
                        <div>
                          <span class="shadow-lg p-2 mb-5 bg-white rounded">{% translate 'Obstacle' %} {{ forloop.counter }}</span>
                        </div>
                        <div>
                              <form class="form-inline d-flex" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="group-{{ object.pk }}">{% translate 'Group' %}</label>
                                  <select class="form-control mx-sm-3 custom-select" style="width: 150px !important;" name="group-{{ object.pk }}" id="group-{{ object.pk }}">
                                    {% for group in OBSTACLES_FOCUS_GROUP %}
                                        <option value="{{ group }}" {% if group == object.focus_group %}selected{% endif %}>{{ group }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                  <div class="form-group mx-sm-3 mb-2">
                                    <label for="description-{{ object.pk }}" class="col-form-label">{% translate 'Description' %}</label>
                                    <textarea class="form-control mx-sm-3" cols="50" rows="3" id="description-{{ object.pk }}" name="description-{{ object.pk }}">{{ object.description }}</textarea>
                                  </div>
                                  <button type="submit" class="btn btn-primary mb-2"><small><i class="fas fa-edit" ></i></small></button> &nbsp; 
                                  {% if user.is_superuser or user|has_group:"Admin" %}
                                  <span data-toggle="modal" data-target="#modal-{{ object.pk }}" class="btn btn-danger mb-2"><small><i class="fas fa-times" ></i></small></span>
                                  {% endif %}
                                  
                                  <!-- Modal -->
                                  <div class="modal fade" id="modal-{{ object.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">{% translate 'Confirmation' %}</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          {% translate 'Please confirm deletion' %}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button unicorn:click="remove({{ object.pk }})" data-dismiss="modal" type="button" class="btn btn-danger">{% translate 'Confirm' %}</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Modal -->
                                  
                                  <!-- <a class="btn btn-danger mb-2" href="/administrative-levels/village/obstacles/{{ object.pk }}/delete"><small><i class="fas fa-times" ></i></small></a> -->
      
                              </form>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                    

                </div>
                <div class="card-footer">
                    <button unicorn:click="add" class="btn btn-primary mb-2 float-right" id="btn_form"><i class="fas fa-plus" ></i> <small>{% translate 'Add Another Obstacle' %}</small></button>
                    <div class="clearfix"></div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
