
{% load static i18n unicorn custom_tags %}
<div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            <a class="text-primary font-weight-bold" href="#">C- {% translate 'List Of Development Priorities Eligible For Coso Project Funding' %}</a>
                        </div>
                        <div class="btn-group pull-right">
                            {% include 'components/modal_upload_one_sheet.html' with type_object="priority" show_just_villages=True %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% for object in priorities %}
                    <div>
                        <div>
                          <span class="shadow-lg p-2 mb-5 bg-white rounded">{% translate 'Priority' %} {{ forloop.counter }}</span> {{ object.name }}
                        </div>
                        <div>
                              <form class="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                  <div class="col-10">
                                      <div class="form-group row">
  
                                          <div class="col-4">
                                              <div class="form-group row">
                                                  <label for="component-{{ object.pk }}" class="col-sm-5 col-form-label"><small>{% translate 'Component' %}</small></label>
                                                  <select class="col-sm-7 form-control custom-select" name="component-{{ object.pk }}" id="component-{{ object.pk }}">
                                                    {% if not object.component %}
                                                        <option value="0" selected>------------</option>
                                                    {% endif %}
                                                    {% for component in components %}
                                                        <option value="{{ component.pk }}" {% if component.pk == object.component.pk or component.pk == object.component %}selected{% endif %}>{{ component }}</option>
                                                    {% endfor %}
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-2">
                                              <div class="form-group row">
                                                  <label for="proposed_men-{{ object.pk }}" class="col-sm-4 col-form-label"><small>{% translate 'Man' %}</small></label>
                                                  <div class="col-sm-8">
                                                      <input type="number" step="any" value="{{ object.proposed_men }}" class="form-control" id="proposed_men-{{ object.pk }}" name="proposed_men-{{ object.pk }}" />
                                                  </div>
                                              </div>
                                          </div>
                                         
                                          <div class="col-3">
                                              <div class="form-group row">
                                                  <label for="proposed_women-{{ object.pk }}" class="col-sm-4 col-form-label"><small>{% translate 'Woman' %}</small></label>
                                                  <div class="col-sm-8">
                                                      <input type="number" step="any" value="{{ object.proposed_women }}" class="form-control" id="proposed_women-{{ object.pk }}" name="proposed_women-{{ object.pk }}" />
                                                  </div>
                                              </div>
                                          </div>
          
                                          <div class="col-3">
                                              <div class="form-group row">
                                                  <label for="estimated_cost-{{ object.pk }}" class="col-sm-4 col-form-label"><small>{% translate 'Budget' %}</small></label>
                                                  <div class="col-sm-8">
                                                      <input type="number" step="any" value="{{ object.estimated_cost }}" class="form-control" id="estimated_cost-{{ object.pk }}" name="estimated_cost-{{ object.pk }}" />
                                                  </div>
                                              </div>
                                          </div>
  
                                        </div>
                                        <div class="form-group row">
                                          <div class="col-12">
                                              <div class="form-group row">
                                                  <label for="climate_changing_contribution-{{ object.pk }}" class="col-sm-2 col-form-label"><small>{% translate 'Description' %}</small></label>
                                                  <div class="col-sm-10">
                                                      <textarea class="form-control" id="climate_changing_contribution-{{ object.pk }}" name="climate_changing_contribution-{{ object.pk }}">{{ object.climate_changing_contribution }}</textarea>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="col-2">
                                    <button type="submit" class="btn btn-primary mb-2"><small><i class="fas fa-edit" ></i></small></button> &nbsp; 
                                    {% if user.is_superuser or user|has_group:"Admin" %}
                                    <span data-toggle="modal" data-target="#modal-{{ object.pk }}" class="btn btn-danger mb-2"><small><i class="fas fa-times" ></i></small></span>
                                    {% endif %}
                                    
                                    <!-- Modal -->
                                  <div class="modal fade" id="modal-{{ object.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">{% translate 'Confirmation' %}</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          {% translate 'Please confirm deletion' %}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button unicorn:click="remove({{ object.pk }})" data-dismiss="modal" type="button" class="btn btn-danger">{% translate 'Confirm' %}</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Modal -->
                                    
                                    <!-- <a class="btn btn-danger mb-2" href="/administrative-levels/village/priorities/{{ object.pk }}/delete"><small><i class="fas fa-times" ></i></small></a> -->
      
                                  </div>
                                </div>
                              </form>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                    {% if goals %}
                    <div class="d-flex justify-content-center">
                        {% for goal in goals %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input rounded" type="checkbox" name="goal-{{ goal.pk }}" id="goal-{{ goal.pk }}" value="{{ goal.pk }}">
                                <label class="form-check-label" for="goal-{{ goal.pk }}">{{ goal|title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <hr />
                    {% endif %}
                    

                </div>
                <div class="card-footer">
                    <button unicorn:click="add" class="btn btn-primary mb-2 float-right" id="btn_form"><i class="fas fa-plus" ></i> <small>{% translate 'Add Another Priority' %}</small></button>
                    <div class="clearfix"></div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>