{% load bootstrap4 static i18n %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <title>{% translate 'Log in' %}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css' %}" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
</head>
<style>
    .structure_name {
    font-size: 22px; /* Taille de police plus grande */
    font-weight: 500;
    color: #196A62;
    margin-bottom: 0px; /* Espace en dessous */
    line-height: 1.2; /* Pour espacer les lignes */
    }

</style>

<div class="structure_name">
    <small>Programme d’urgence de renforcement</small><br>
    <small>de la résilience et de la sécurité</small><br>
    <small>des communautés</small>
</div>
<body class="hold-transition login-page">
{%  if OTHER_LANGUAGES %}
    <nav class="main-header navbar navbar-expand">
        <ul class="navbar-nav ml-auto">
            {% include 'layouts/language_dropdown.html' %}
        </ul>
    </nav>
{% endif %}
<div class="login-box">
<!--     <div class="text-center"> -->
<!--         <img src="{% static 'images/logos/rtg.jpg' %}" alt="PURS Logo" class="profile-user-img img-fluid img-circle mb-3" style="opacity: .8; width: 50%"> -->
<!--     </div> -->
    <!-- /.login-logo -->

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
            </p>

            <p>
                {% if form.errors and not form.non_field_errors %}
                    <p class="alert alert-danger">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            </p>

            <form method="post">
                {% csrf_token %}
                    {% if message %}
                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                    {% endif %}
                {% bootstrap_field form.new_password1 %}
                {% bootstrap_field form.new_password2 %}
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% translate "Change my password" %}
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
                <p class="mt-1 mb-0">
                    <a href="{% url 'usermanager:login' %}">{% translate 'Log in' %}</a>
                </p>
                <p class="mt-1 mb-0">
                    <a href="{% url 'usermanager:signup' %}" class="text-center">{% translate 'Sign up as a partner' %}</a>
                </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'AdminLTE/dist/js/adminlte.js' %}"></script>
<!-- Django Translation -->
<script src="{% static 'js/setLanguajeDjangoTranslation.js' %}"></script>
</body>
</html>