{% load bootstrap4 static i18n %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <title>{% translate 'Log in' %}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css' %}" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/select2/css/select2.min.css' %}"/>
    <!-- Theme style -->
	<link rel="stylesheet" href="{% static 'AdminLTE/dist/css/adminlte.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>

<body class="hold-transition login-page">
{%  if OTHER_LANGUAGES %}
    <nav class="main-header navbar navbar-expand">
        <ul class="navbar-nav ml-auto">
            {% include 'layouts/language_dropdown.html' %}
        </ul>
    </nav>
{% endif %}
<div class="login-box">
	<div class="login-logo">
		<p class="structure_name">
			{% translate "Emergency program to strengthen community resilience and security" %}
		</p>
	</div>
	<div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                {% translate "Sign up as a partner" %}
            </p>

            <form method="post">
                {% csrf_token %}
                {% bootstrap_field form.username %}
                <hr>
                {% bootstrap_field form.password1 %}
                {% bootstrap_field form.password2 %}
                {% bootstrap_field form.organization %}
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% translate "Sign up" %}
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mt-1 mb-0">
                <a href="{% url 'usermanager:login' %}" class="text-center">{% translate 'Already has an account? Sign in' %}</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'AdminLTE/dist/js/adminlte.js' %}"></script>
<!-- Django Translation -->
<script src="{% static 'js/setLanguajeDjangoTranslation.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE/plugins/select2/js/select2.full.min.js' %}"></script>
<script type="text/javascript">
        $("#id_organization").select2({
            placeholder: "{% translate 'Organization' %}",
            allowClear: true
        });

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>

</body>
</html>