{% comment %} {% extends 'layouts/base.html' %} {% endcomment %}
{% load static i18n custom_tags %}

{% comment %} {% block content %} {% endcomment %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                        
                            {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Accountant" %}
                            <a class="btn btn-primary" target="_blank"
                                href="{% url 'financial:disbursement_request_create' %}">
                                    {% translate 'Register a request' %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table-disbursements-requests" class="table">
                        <thead>
                        <tr>
                            <th>{% translate 'Request date' %}</th>
                            <th>{% translate 'Amount requested' %}</th>
                            <th>{% translate 'Amount requested in dollars' %}</th>
                            <th>{% translate 'Project' %}</th>
                            <th>{% translate 'Replied' %}</th>
                            <th width="12%">{% translate 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for disbursement_request in disbursement_requests %}
                            <tr>
                                <td>{{ disbursement_request.requested_date }}</td>
                                <td>{{ disbursement_request.amount_requested|separate_with_space }}</td>
                                <td>{{ disbursement_request.amount_requested_in_dollars|separate_with_space:"$" }}</td>
                                <td>{{ disbursement_request.project.name }}</td>
                                <td>
                                    {% if disbursement_request.reply_date %}
                                        {% translate "Yes" %}, {{ disbursement_request.reply_date }}
                                    {% else %}
                                        {% translate "No" %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#modal-disbursement-request-details-{{ disbursement_request.pk }}" 
                                        style="font-size: 9px !important;" 
                                       class="btn btn-primary btn-xs" title="{% translate 'View details' %}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Accountant" %}
                                    <a href="{% url 'financial:disbursement_request_update' disbursement_request.pk %}" 
                                        style="font-size: 9px !important;" target="_blank"
                                       class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if disbursement_requests.has_previous %}
                                <li>
                                    <a class="page-link" href="#disbursements-requests" data-href="{% url 'financial:disbursement_requests_list' %}?page={{ disbursement_requests.previous_page_number }}" 
                                        class="tab-disbursement-request-other">
                                        {% comment %} <span aria-hiden="true">&laquo;</span> {% endcomment %}
                                        <i class="fa fa-arrow-left text-bold"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <p class="page-link text-bold">
                                    {% translate 'Page' %} {{ disbursement_requests.number }} {% translate 'of' %} {{ disbursement_requests.paginator.num_pages }}
                                </p>
                            </li>
                            {% if disbursement_requests.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="#disbursements-requests" data-href="{% url 'financial:disbursement_requests_list' %}?page={{ disbursement_requests.next_page_number }}" 
                                        class="tab-disbursement-request-other">
                                        {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                                        <i class="fa fa-arrow-right text-bold"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
{% comment %} {% endblock %} {% endcomment %}


<!-- Modal -->
{% for disbursement_request in disbursement_requests %}
<div class="modal fade" id="modal-disbursement-request-details-{{ disbursement_request.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal-disbursement-request-center-title-{{ disbursement_request.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-disbursement-request-log-title-{{ disbursement_request.pk }}">{% translate 'Disbursement request details' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            <span style="font-weight: bold;">{% translate 'Project' %}</span> : <span>{{ disbursement_request.project.name }}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Amount requested' %}</span> : <span>{{ disbursement_request.amount_requested|separate_with_space }}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Amount requested in dollars' %}</span> : <span>{{ disbursement_request.amount_requested_in_dollars|separate_with_space:"$" }}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Request date' %}</span> : <span>{{ disbursement_request.requested_date }}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Motif' %}</span> : <span>{% if disbursement_request.motif %}{{ disbursement_request.motif }}{% else %}-{% endif %}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Description' %}</span> : <span>{% if disbursement_request.description %}{{ disbursement_request.description }}{% else %}-{% endif %}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Reply date' %}</span> : <span>{% if disbursement_request.reply_date %}{{ disbursement_request.reply_date }}{% else %}-{% endif %}</span>
        </div><br />
        <div>
            <span style="font-weight: bold;">{% translate 'Comment related to the request response' %}</span> : <span>{% if disbursement_request.comment_linked_to_reply %}{{ disbursement_request.comment_linked_to_reply }}{% else %}-{% endif %}</span>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Modal -->



{% comment %} {% block javascript %}
    {{ block.super }} {% endcomment %}

    <!-- DataTables export files -->
    {% include 'layouts/datatable-js.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table_disbursements_requests = $('#table-disbursements-requests').DataTable({
                retrieve: true,
                paging: false,
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: 'Blfrtip',
                buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],
                lengthMenu: [10, 20, 50, 100],
                pageLength: 10,
                order: []
            });
        
            $('a.tab-disbursement-request-other').on('click', function () {
                var elt = $(this).attr('href').replace('#', '');
                loadPage($(this).attr('data-href'), $(`#${elt}-data`), $(`#${elt}-spin`));
            });

        });
    </script>
{% comment %} {% endblock %} {% endcomment %}
