{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}




{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="clearfix"></div>
            <div class="row administrative-level-filter">
            </div>



            
            <div class="card">
                <div class="card-body table-responsive">



                    <div class="container">
                        <ul class="nav nav-tabs">
                            <li class="nav-item btn"><a class="nav-link active tab-financial" data-toggle="tab" href="#disbursements-request" data-href="{% url 'financial:disbursement_requests_list' %}">{% translate "Disbursements Request" %}</a></li>
                            <li class="nav-item btn"><a class="nav-link tab-financial" data-toggle="tab" href="#disbursements" data-href="{% url 'financial:disbursements_list' %}">{% translate "Disbursements" %}</a></li>
                            <li class="nav-item btn"><a class="nav-link tab-financial" data-toggle="tab" href="#bank-transfers" data-href="{% url 'financial:bank_transfers_list' %}">{% translate "Bank transfers" %}</a></li>
                            <li class="nav-item btn"><a class="nav-link tab-financial" data-toggle="tab" href="#allocations" data-href="{% url 'financial:allocations_list' %}">{% translate "Allocations" %}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="disbursements-request" class="tab-pane active">
                                <h3>{% translate "Disbursements Request" %}</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <div id="disbursements-request-data"></div>
                                    </div>
                                    <div class="overlay" id="disbursements-request-spin">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="disbursements" class="tab-pane">
                                <h3>{% translate "Disbursements" %}</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <div id="disbursements-data"></div>
                                    </div>
                                    <div class="overlay" id="disbursements-spin">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="bank-transfers" class="tab-pane fade">
                                <h3>{% translate "Bank transfers" %}</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <div id="bank-transfers-data"></div>
                                    </div>
                                    <div class="overlay" id="bank-transfers-spin">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="allocations" class="tab-pane fade">
                                <h3>{% translate "Allocations" %}</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <div id="allocations-data"></div>
                                    </div>
                                    <div class="overlay" id="allocations-spin">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                    
                </div>
                {% comment %} <div class="overlay" id="spin-pdf">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div> {% endcomment %}
            </div>




        </div>
    </div>



    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.querySelectorAll('a.tab-financial').forEach(function(element){
                element.addEventListener('click', function (e) {
                    e.preventDefault();	
                    var elt = $(this).attr('href').replace('#', '');
                    loadPage($(this).attr('data-href'), $(`#${elt}-data`), $(`#${elt}-spin`));
                }); // addEventListener
            }) // forEach
        }); 
        // DOMContentLoaded  end
    </script>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}
            let administrative_level_ids = ["id_region", "id_prefecture", "id_commune", "id_canton", "id_village"];

            loadPage("{% url 'financial:disbursement_requests_list' %}", $(`#disbursements-request-data`), $(`#disbursements-request-spin`));
    
        });
    </script>
{% endblock %}



{% block select2 %}
    <script type="text/javascript">
        $("#id_region").select2({
            placeholder: "{% translate 'Region' %}",
            allowClear: true
        });
        $("#id_prefecture").select2({
            placeholder: "{% translate 'Prefecture' %}",
            allowClear: true,
        });
        $("#id_commune").select2({
            placeholder: "{% translate 'Commune' %}",
            allowClear: true,
        });
         $("#id_canton").select2({
            placeholder: "{% translate 'Canton' %}",
            allowClear: true,
        });
         $("#id_village").select2({
            placeholder: "{% translate 'Village' %}",
            allowClear: true,
        });

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>
{% endblock select2 %}