{% load i18n %}

<!-- Button modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download-csv-file">
    <i class="fas fa-cloud-download-alt" aria-hidden="true"></i> {% translate 'Export file' %}
</button>

<!-- Modal -->
<div class="modal fade" id="download-csv-file" tabindex="-1" role="dialog"
    aria-labelledby="downloadTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <form method="post" enctype="multipart/form-data"
                action="{% url 'subprojects:download' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        {% translate 'Download Excel/CSV file' %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group" id="type_content">
                        <label for="type">{% translate 'By Type' %}</label>
                        <select class="form-control" id="type" name="type" style="width: 100%;">
                          <option value="All" >{% translate 'All' %}</option>
                          <option value="Region">{% translate 'Region' %}</option>
                          <option value="Prefecture">{% translate 'Prefecture' %}</option>
                          <option value="Commune">{% translate 'Commune' %}</option>
                          <option value="Canton">{% translate 'Canton' %}</option>
                          <option value="Village">{% translate 'Village' %}</option>
                        </select>
                    </div>
                    <div class="form-group" id="value_of_type_content">
                        <label for="value_of_type">{% translate 'Name' %} "<span id="type_name"></span>"</label>
                        {% comment %} <input type="text" class="form-control" id="value_of_type" name="value_of_type" value=""> {% endcomment %}
                        <select class="form-control" id="value_of_type" name="value_of_type" style="width: 100%;">
                        </select>
                    </div>

                    <div class="form-group" id="sector_content">
                        <label for="sector">{% translate 'Sector' %}</label>
                        <select class="form-control" id="sector" name="sector" style="width: 100%;">
                            <option value="All" >{% translate 'All' %}</option>
                            <option value="AGRICULTURE" >{% translate 'AGRICULTURE' %}</option>
                            <option value="EAU–HYDRAULIQUE">{% translate 'WATER-HYDRAULICS' %}</option>
                            <option value="DEVELOPPEMENT–A–LA–BASE">{% translate 'GRASSROOTS-DEVELOPMENT' %}</option>
                            <option value="ENERGIE">{% translate 'ENERGY' %}</option>
                            <option value="SANTE">{% translate 'HEALTH' %}</option>
                            <option value="EDUCATION">{% translate 'EDUCATION' %}</option>
                            <option value="PISTES">{% translate 'TRACKS' %}</option>
                            <option value="ASSAINISSEMENT">{% translate 'SANITATION' %}</option>
                            <option value="SPORT–LOISIR">{% translate 'SPORT-LEISURE' %}</option>
                        </select>
                    </div>

                    

                    <div class="form-group" id="subproject_type_content">
                        <label for="subproject_type">{% translate 'Subproject Type' %}</label>
                        <select class="form-control" id="subproject_type" name="subproject_type" style="width: 100%;">
                            <option value="All" >{% translate 'All' %}</option>
                            <option value="Magasin De Stockage">{% translate 'Storage Warehouse' %}</option>
                            <option value="Forage Photovoltaïque (Boisson)">{% translate 'Photovoltaic drilling (Boisson)' %}</option>
                            <option value="Forage Photovoltaïque (Maraichage)">{% translate 'Photovoltaic drilling (Maraichage)' %}</option>
                            <option value="Centre Communautaire">{% translate 'Community Center' %}</option>
                            <option value="Electrification">{% translate 'Electrification' %}</option>
                            <option value="Centre De Santé ">{% translate 'Health Center' %}</option>
                            <option value="Batiment Scolaire au CEG">{% translate 'School building at the College' %}</option>
                            <option value="Piste + Pont">{% translate 'Track + Bridge' %}</option>
                            <option value="Batiment Scolaire au Primaire">{% translate 'School building at the primary level' %}</option>
                            <option value="Batiment Scolaire au Lycée">{% translate 'School building at the Lycée' %}</option>
                            <option value="Retenue d'eau">{% translate "Water retention" %}</option>
                            <option value="Terrain de Foot">{% translate 'Soccer field' %}</option>
                        </select>
                    </div>

                    <div class="form-group" id="type_content">
                        <label for="type">{% translate 'File Type' %} : &nbsp; &nbsp; </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="file_type" id="file_type_excel" value="excel" checked>
                            <label class="form-check-label" for="file_type_excel">Excel</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="file_type" id="file_type_csv" value="csv">
                            <label class="form-check-label" for="file_type_csv">CSV</label>
                        </div>
                    </div>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        style="display: inline-block !important;">{% translate 'Close' %}</button>
                    <button type="submit" class="btn btn-primary" style="display: inline-block !important;" id="submit_btn_download">
                        {% translate 'download' %}
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>
<!-- End Modal -->

<script type="text/javascript">
    
    (function () {
        
        let type = document.getElementById("type");
        let value_of_type_elt = document.getElementById("value_of_type");
        let value_of_type_content = document.getElementById("value_of_type_content");
        var value_of_type = "";

        value_of_type_content.style.display = "none";

        value_of_type_elt.onkeypress = function(event){
            value_of_type = this.value;
        };
        
        type.change = function(event){
            value_of_type_elt.innerHTML = "";
            if(this.value == "All"){
                value_of_type_content.style.display = "none";
                value_of_type_elt.value = ""
            }else{
                value_of_type_content.style.display = "block";
                value_of_type_elt.value = value_of_type;
                document.getElementById("type_name").innerText = this.value;

                $.ajax({
                    type: 'GET',
                    url: "{% url 'administrativelevels:get_administrative_level_by_type' %}",
                    data: {
                        type: this.value
                    },
                    success: function (data) {
                        for(let i=0; i < data.length; i++){
                            value_of_type_elt.innerHTML += `
                            <option value="`+ data[i].name +`">`+ data[i].name +`</option>
                            `;
                        }
                        
                    },
                    error: function (data) {
                        alert(error_server_message + "Error " + data.status);
                    }
                }).done(function () {
                    
                    }
                );


            }
        };

    })();

    
    setInterval(function() {
        if(document.getElementById('submit_btn_download').disabled == true){
            document.getElementById('submit_btn_download').disabled = false;
        }
    }, 15 * 1000);
    
</script>
