{% load static i18n custom_tags humanize %}
<script type="text/javascript">
    let spin_priority_needs = $("#spin-priority-needs");
    let priority_needs = $("#priority_needs");
    spin_priority_needs.show();
priority_needs.html(`
<h4>{% translate 'Subcomponent' %} 1.1</h4>
<div class="col-12" class="input-group mb-3 search-bar">
    <div method="get" class="d-flex">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" id="search_table_piorities_needs" placeholder="{% translate 'Search in table' %}...">
    </div>
</div>
<div class="table-responsive-sm">
<table class="table table-sm" id="table_piorities_needs">
    <thead>
        <tr>
            <th style="width:5% !important" scope="col-1">{% translate 'Rank' %}</th>
            <th style="width:45% !important" scope="col-3">{% translate 'Priority' %}</th>
            <th style="width:5% !important" scope="col-1">{% translate 'Young' %}</th>
            <th style="width:5% !important" scope="col-1">{% translate 'Women' %}</th>
            <th style="width:5% !important" scope="col-1">{% translate 'Ethnic minorities' %}</th>
            <th style="width:5% !important" scope="col-1">{% translate 'Farmers' %}/<br/>{% translate 'Breeders' %}</th>
            <th style="width:5% !important" scope="col-1">{% translate 'Beneficiaries' %}</th>
            <th style="width:20% !important" scope="col-2">{% translate 'Estimated cost' %}</th>
            <th style="width:10% !important" scope="col-1">{% translate 'Financed by' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for priority in datas.priorities_1_1 %}
        <tr {% if priority|get:"coutEstime" %}style="font-weight:bold;"{% endif %}>
            <td>
                {{ forloop.counter }}
            </td>
            <td style="" align="left">
                {% if "Autre" in priority|get:"priorite" %}
                    {{ priority|get:"priorite" }}
                {% else %}
                    {{ priority|get:"priorite" }}
                {% endif %}
            </td>
            <td>
                {% if priority|get:"young" %}
                    {% with priority|get:"young" as group %}
                        {{ group|get:"rang" }}
                    {% endwith %}
                {% endif %}
            </td>
            <td>
                {% if priority|get:"women" %}
                    {% with priority|get:"women" as group %}
                        {{ group|get:"rang" }}
                    {% endwith %}
                {% endif %}
            </td>
            <td>
                {% if priority|get:"ethnic_minorities" %}
                    {% with priority|get:"ethnic_minorities" as group %}
                        {{ group|get:"rang" }}
                    {% endwith %}
                {% endif %}
            </td>
            <td>
                {% if priority|get:"farmers_breeders" %}
                    {% with priority|get:"farmers_breeders" as group %}
                        {{ group|get:"rang" }}
                    {% endwith %}
                {% endif %}
            </td>
            <td>
                {% if priority|get:"nombreEstimeDeBeneficiaires" %}
                    {{ priority|get:"nombreEstimeDeBeneficiaires" }}
                {% else %}
                    ###
                {% endif %}    
            </td>
            <td>
                {% if priority|get:"coutEstime" %}
                    {% with priority|get:"coutEstime" as coutEstime %}
                        {{ coutEstime|intcomma }}
                    {% endwith %}
                {% else %}
                    ###
                {% endif %}
            </td>
            <td>
                {% if forloop.counter == 1 %}
                    COSO
                {% else %}
                    ###
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
            <th rowspan="1" colspan="1">
            </th>
        </tr>
    </tfoot>
</table>
</div>

`);


$(document).ready(function () {
    {% get_current_language as lang %}

    let table_piorities_needs = $('#table_piorities_needs').DataTable({
        language: {
            url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
        },
        dom: "ltipr",
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    
                    // Create select element and listener
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $('#table_subcomponent_priorities').DataTable.util.escapeRegex($(this).val());
    
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
    
                    // Add list of options
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        }, 
        lengthMenu: [10, 50, 100],
        pageLength: 10,
        order: [[0, 'asc']]
    });
    $('#search_table_piorities_needs').on('keyup', function () {
        table_piorities_needs.search($(this).val()).draw();
    });
});



    spin_priority_needs.hide();

</script>