{% load static i18n custom_tags %}

<script type="text/javascript">
    let spin_subcomponent_priorities = $("#spin-Subcomponent-priorities");
    let subcomponent_priorities = $("#subcomponent_priorities");
    spin_subcomponent_priorities.show();
subcomponent_priorities.html(`
    <h4>{% translate 'Subcomponent' %} 1.1</h4>
    <div class="col-12" class="input-group mb-3 search-bar">
        <div method="get" class="d-flex">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search_table_subcomponent_1_1_priorities" placeholder="{% translate 'Search in table' %}...">
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover " id="table_subcomponent_1_1_priorities">
            <thead>
                <tr>
                    <th style="width:5% !important" scope="col-1">{% translate 'Rank' %}</th>
                    <th style="width:45% !important" scope="col-3">{% translate 'Priority' %}</th>
                    <th style="width:5% !important" scope="col-1">{% translate 'Score' %}</th>
                    <th style="width:5% !important" scope="col-1">{% translate 'Proposed by' %}</th>
                    <th style="width:10% !important" scope="col-1">{% translate 'Financed by' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in datas.groups_priorities_1_1.items %}
                    {% for priority in v %}
                    <tr>
                        <td>
                            {{ priority|get:"rang" }}
                        </td>
                        <td style="" align="left">
                            {% if "Autre" in priority|get:"besoinSelectionne" %}
                                {{ priority|get:"besoinSelectionne" }}
                            {% else %}
                                {{ priority|get:"besoinSelectionne" }}
                            {% endif %}
                        </td>
                        <td>
                            {{ priority|get:"score" }}
                        </td>
                        <td>
                            {{ k }}
                        </td>
                        <td>###</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

    
    <h4>{% translate 'Subcomponent' %} 1.2.a</h4>
    <div class="col-12" class="input-group mb-3 search-bar">
        <div method="get" class="d-flex">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search_table_subcomponent_1_2_a_priorities" placeholder="{% translate 'Search in table' %}...">
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover " id="table_subcomponent_1_2_a_priorities">
            <thead>
                <tr>
                    <th style="width:5% !important" scope="col-1">{% translate 'Name of the most important market in the canton for the group' %}</th>
                    <th style="width:45% !important" scope="col-3">{% translate "Location of the canton's most important market for the group" %}</th>
                    <th style="width:5% !important" scope="col-1">{% translate 'Types of infrastructure/equipment developments the Group would like to see on the market' %}</th>
                    <th style="width:5% !important" scope="col-1">{% translate 'Proposed by' %}</th>
                    <th style="width:10% !important" scope="col-1">{% translate 'Financed by' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in datas.groups_priorities_1_2_a.items %}
                    <tr>
                        <td align="left">
                            {{ v|get:"nomDuMarcheLePlusImportant" }}
                        </td>
                        <td>
                            {{ v|get:"lieuDuMarcheLePlusImportant" }}
                        </td>
                        <td align="left">
                            {% with v|get:"typesDeDeveloppementsInfrastructuresEtEquipements" as typesDevs %}
                                {% for typesDev in typesDevs %}
                                    {% if forloop.counter != 1 %},{% endif %}{{ typesDev|get:"typeDeDeveloppement" }}
                                {% endfor %}
                            {% endwith %}
                        </td>
                        <td>
                            {{ k }}
                        </td>
                        <td>###</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

    
    <h4>{% translate 'Subcomponent' %} 1.2.b</h4>
    <div class="col-12" class="input-group mb-3 search-bar">
        <div method="get" class="d-flex">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search_table_subcomponent_1_2_b_priorities" placeholder="{% translate 'Search in table' %}...">
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover " id="table_subcomponent_1_2_b_priorities">
            <thead>
                <tr>
                    <th style="width:5% !important" scope="col-1">{% translate "The main socio-economic groups in the village are linked to the market identified in 1.2a" %}</th>
                    <th style="width:45% !important" scope="col-3">{% translate "The main needs of these social and economic (SE) groups in the village are" %}</th>
                    <th style="width:5% !important" scope="col-1">{% translate "Main capacity-building and restructuring support needs (RCAR)" %}</th>
                    <th style="width:5% !important" scope="col-1">{% translate 'Proposed by' %}</th>
                    <th style="width:10% !important" scope="col-1">{% translate 'Financed by' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in datas.groups_priorities_1_2_b.items %}
                    <tr>
                        <td align="left">
                            {% with v|get:"principauxGroupesSocioeconomiques" as g_socio_ecos %}
                                {% for g_socio_eco in g_socio_ecos %}
                                    {% if forloop.counter != 1 %}<br />{% endif %} {{ forloop.counter }}-/ {{ g_socio_eco|get:"principalGroupeSocioeconomique" }}
                                {% endfor %}
                            {% endwith %}
                        </td>
                        <td align="left">
                            {% with v|get:"principauxbesoinsSociauxEconomiques" as b_socio_ecos %}
                                {% for b_socio_eco in b_socio_ecos %}
                                    {% if forloop.counter != 1 %}<br />{% endif %} {{ forloop.counter }}-/ {{ b_socio_eco|get:"besoin" }}
                                {% endfor %}
                            {% endwith %}
                        </td>
                        <td align="left">
                            {% with v|get:"principauxBesoinsEnRenforcementDeCapacites" as g_renforcem_cs %}
                                {% for g_renforcem_c in g_renforcem_cs %}
                                    {% if forloop.counter != 1 %}<br />{% endif %} {{ forloop.counter }}-/ {{ g_renforcem_c|get:"besoin" }}
                                {% endfor %}
                            {% endwith %}
                        </td>
                        <td>
                            {{ k }}
                        </td>
                        <td>###</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                    <th rowspan="1" colspan="1">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

`);




    $(document).ready(function () {
        {% get_current_language as lang %}

        ["table_subcomponent_1_1_priorities", "table_subcomponent_1_2_a_priorities", "table_subcomponent_1_2_b_priorities"].forEach(function(item){
            
            var table_subcomponent_priorities = $(`#${item}`).DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            
                            // Create select element and listener
                            var select = $('<select style="width:175px !important;"><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $(`#${item}`).DataTable.util.escapeRegex($(this).val());
            
                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });
            
                            // Add list of options
                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>');
                                });
                        });
                }, 
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'asc']]
            });
            $(`#search_${item}`).on('keyup', function () {
                table_subcomponent_priorities.search($(this).val()).draw();
            });

        });
        
    });


    spin_subcomponent_priorities.hide();

</script>