
{% load static i18n custom_tags %}
{% include "style_templates/threads_comments.html" %}




    {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Infra" %}
    <button type="button" class="font-weight-bold" id="add_subproject_tracking_step">
        <i class="fas fa-plus"></i> {% translate 'step' %}
    </button>
    {% endif %}




    <div class="comment-thread">
        {% with subproject_steps|length as subproject_steps_length %}
        {% for subproject_step in subproject_steps %}
        <!-- Comment -->
        <details open class="comment" id="comment-{{ subproject_step.id }}">
            <a href="#comment-{{ subproject_step.id }}" class="comment-border-link">
                <span class="sr-only">{{ subproject_steps_length|subtract:forloop.counter0 }}-{{ subproject_step }}</span>
            </a>
            <summary>
                <div class="comment-heading">
                    <div>
                        <button type="button" class="subproject_step_delete" 
                            id="{% url 'object_deletion_form' subproject_step.id 'SubprojectStep' %}">
                            <span aria-hidden="true"><i class="fas fa-times text-danger"></i></span>
                        </button>
                    </div>
                    <div class="comment-info">
                        <a href="#!" class="comment-author subproject_step" 
                            id="{% url 'subprojects:step:subproject_step_update_form' subproject_step.subproject.id subproject_step.id %}">
                            {{ subproject_steps_length|subtract:forloop.counter0 }}-{{ subproject_step }}
                        </a>
                        <p class="m-0">
                            {% translate "Begin" %} &bull; {{ subproject_step.begin }}
                        </p>
                    </div>
                </div>
            </summary>

            <div class="comment-body">
                <p>
                    {% if subproject_step.description %}{{ subproject_step.description }}{% endif %}
                </p>
                {% if subproject_step.step.has_levels %}
                    {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Infra" %}
                    <button type="button" class="add_evolution_level" 
                        id="add_evolution_level_{{ subproject_step.id }}">
                        <i class="fas fa-plus"></i> {% translate "level" %}
                    </button>
                    {% endif %}
                {% endif %}
            </div>



            {% if subproject_step.get_levels %}
            <div class="replies">
                {% for level in subproject_step.get_levels %}
                <!-- Comment start -->
                <details open class="comment" id="comment-{{ subproject_step.id }}-{{ level.id }}">
                    <a href="#comment-{{ subproject_step.id }}-{{ level.id }}" class="comment-border-link">
                        <span class="sr-only">{% if level.ranking != 0 %}{{ level.ranking }}-{% endif %}{{ level }}</span>
                    </a>
                    <summary>
                        <div class="comment-heading">
                            <div>
                                <button type="button" class="subproject_step_delete" 
                                    id="{% url 'object_deletion_form' level.id 'Level' %}">
                                    <span aria-hidden="true"><i class="fas fa-times text-danger"></i></span>
                                </button>
                            </div>
                            <div class="comment-info">
                                <a href="#!" class="comment-author subproject_level" 
                                    id="{% url 'subprojects:step:subproject_level_update_form' subproject_step.subproject.id subproject_step.id level.id %}"
                                    >
                                    {% if level.ranking != 0 %}{{ level.ranking }}-{% endif %}{{ level }}
                                </a>
                                <p class="m-0">
                                    {% translate "Begin" %} &bull; {{ level.begin }}
                                </p>
                            </div>
                        </div>
                    </summary>

                    <div class="comment-body">
                        <p>
                            {% if level.description %}{{ level.description }}{% endif %}
                        </p>
                    </div>
                    
                </details>
                <!-- Comment end -->
                {% endfor %}
            </div>
            {% endif %}



        </details>
        <!-- Comment end -->
        {% empty %}
            <div class="font-weight-bold d-flex justify-content-center text-danger" >
                <p>{% translate 'Empty!' %}</p>
            </div>
        {% endfor %}
        {% endwith %}
    </div>


