
{% load static i18n custom_tags %}
<canvas id="lineChart"></canvas>



<link rel="stylesheet" href="{% static 'AdminLTE/plugins/chart.js/Chart.min.css' %}"/>
<script src="{% static 'AdminLTE/plugins/chart.js/Chart.min.js' %}"></script>
<script type="text/javascript">

//line
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
  type: 'line',
  data: {
    labels: {{ x_axes_values|safe }},
    datasets: [{
      label: "{% translate 'Sub-project evolution curve' %}",
      data: {{ y_axes_values|safe }},
      backgroundColor: [
        'rgba(105, 0, 132, .2)',
      ],
      borderColor: [
        'rgba(200, 99, 132, .7)',
      ],
      borderWidth: 2
    }]
  },
  options: {
    responsive: true, 
    scales: {
        yAxes: [{ 
            scaleLabel: {
            display: true,
            labelString: "{% translate 'Percent' %}"
            }
        }],
        xAxes: [{ 
            scaleLabel: {
            display: true,
            labelString: "{% translate 'Month' %}"
            }
        }]
    }
  }
});


</script>