{% load static i18n custom_tags humanize %}
<div class="col-12" class="input-group mb-3 search-bar">
    <div method="get" class="d-flex">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" id="search_table_summary_suprojects" placeholder="{% translate 'Search in table' %}...">
    </div>
</div>
<table class="table" id="table_summary_suprojects">
    <thead>
        <tr>
            <th>{% translate 'Title' %}</th>
            <th># {% translate 'CVD' %}/{% translate 'Villages' %}</th>
            <th>{% translate 'Beneficiaries' %}</th>
            <th>{% translate 'Estimated unit cost' %}</th>
            {% if datas.object.type != "Village" %}<th>{% translate 'Estimated total cost' %}</th>{% endif %}
            <th>{% translate 'Financed by' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in datas.summary_subprojects.items %}
        <tr>
            <td>
                {% if datas.object.type != "Village" %}
                <a data-toggle="modal" data-target="#priorities-list-modal" class="summary_subprojects" 
                href="{% url 'subprojects:components:common' value.pk datas.canton_id %}"> {{ key }}</a>
                {% else %}
                {{ key }}
                {% endif %}
            </td>
            <td>
                {% if value.cvds and value.cvds|length != 0 %}
                    {{ value.cvds|length }}/
                {% endif %}
                {% if value.number_villages %}
                    {{ value.number_villages }}
                {% else %}
                    ###
                {% endif %}
            </td>
            <td>{{ value.beneficiaries }}</td>
            <td>{% if value.cost_unit %}{{ value.cost_unit|intcomma }}{% endif %}</td>
            {% if datas.object.type != "Village" %}<td>{% if value.cost_total %}{{ value.cost_total|intcomma }}{% endif %}</td>{% endif %}
            <td>
                {{ value.projects_ids }}
                {% if value.projects_ids %}
                    {% for project_pk in value.projects_ids %}
                        {% with project_pk|get_project_by_id as project %}
                            {{ project.name }}
                            {% if project.financier %}
                                ({{ project.financier.name }})
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% elif value.financiers_ids %}
                    {% for financier_pk in value.financiers_ids %}
                        {% with financier_pk|get_financier_by_id as financier %}
                            {{ financier.name }}
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    ###
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Modal  modal-dialog-centered -->
<div class="modal fade" id="priorities-list-modal" tabindex="-1" role="dialog"
    aria-labelledby="UploadTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

           <div id="body_summary_subprojects"></div>

            <div class="overlay" id="spin-summary-subprojects">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>

        </div>
    </div>
</div>
<!-- End Modal -->


<script>
$('.summary_subprojects').click(function(event){
    event.preventDefault();
    let spin_summary_subprojects = $('#spin-summary-subprojects');
    spin_summary_subprojects.show();
    $.ajax({
        type: 'GET',
        url: this.href,
        data: {

        },
        success: function (data_summary) {
            spin_summary_subprojects.hide();
            $('#body_summary_subprojects').html(data_summary);
        },
        error: function (data_summary) {
            spin_summary_subprojects.hide();
            alert(error_server_message + "Error " + data_summary.status);
        }
        }).done(function () {
                spin_summary_subprojects.hide();
            }
        );
}); 


$(document).ready(function () {
    {% get_current_language as lang %}

    let table_summary_suprojects = $('#table_summary_suprojects').DataTable({
        language: {
            url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
        },
        dom: "ltipr",
        columnDefs: [
            {
                targets: 1,
                orderable: false,
                searchable: false,
            }
        ],
        lengthMenu: [10, 50, 100],
        pageLength: 10,
        order: [[0, 'desc']]
    });
    $('#search_table_summary_suprojects').on('keyup', function () {
        table_summary_suprojects.search($(this).val()).draw();
    });
});

</script>