{% extends 'layouts/base.html' %}{% load static i18n humanize bootstrap4 custom_tags %}

{% block custom_title %}
	<div class="col-sm-12">
		<div class="m-0 main-title" style="color: #707070 !important;"><h2>{{ title | safe }}</h2></div>
		<nav aria-label="breadcrumb" class="mt-1">
			<div style="font-size: 14px;">
				{% adm_breadcrumb object %}
			</div>
		</nav>
	</div>
{% endblock %}

{% block select2 %}
{% endblock %}

{% block extracss %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
	<link href="{% static 'AdminLTE/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
	<div class="row mb-4">
		<div class="col-md-8 col-12">
			<div class="clearfix" id="attachments_images">

			</div>
			<div class="overlay" id="spin-attachments-images">
				<i class="fas fa-2x fa-sync-alt fa-spin"></i>
			</div>
		</div>
		<div class="col-md-4 col-12 mt-4 mt-md-0">
			<div class="card col-12">
				<div class="card-header">
					<h5 class="font-weight-bold mb-0">{% translate "Population" %}</h5>
					<small class="text-muted">
						{% translate "Aggregated from" %} {{ population.village_count }} {% translate "villages" %}
						({{ population.canton_count }} {% translate "cantons" %})
					</small>
				</div>
				<div class="card-body p-2">
					<table class="table">
						<tbody>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Total" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.total|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Men" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.men|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Women" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.women|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Young" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.young|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Elder" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.elder|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Persons with disabilities" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.handicap|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Agriculture" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.agriculturist|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Breeders" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.pastoralist|intcomma }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Ethnic groups" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ population.minorities|intcomma }}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card col-12">
				<div class="card-header">
					<h5 class="font-weight-bold mb-0">{% translate 'Planning Cycle' %}</h5>
				</div>
				<div class="card-body p-2">
					<table class="table">
						<tbody>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate 'Phase' %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ planning_status.current_phase.name }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate 'Activity' %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ planning_status.current_activity.name }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate 'Task' %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ planning_status.current_task.name }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Completed" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ planning_status.completed|intcomma }} %</td>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Priorities Identified" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ planning_status.priorities_identified|default:"0" }}</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Village Development Plan" %}</td>
							<td class="border-0 p-0 pr-2 text-right">
								{% if development_plan %}
									<a href="{{ development_plan.url|imgAWSS3Filter }}">{% translate 'Download' %}</a>
								{% else %}
									-
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="border-0 p-0 pl-2 text-left font-weight-bold">{% translate "Facilitator" %}</td>
							<td class="border-0 p-0 pr-2 text-right">{{ planning_status.facilitator }}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-md-3 col-6">
			<div class="card stat-card">
				<div class="card-body text-center">
					<div class="stat-value h2 font-weight-bold">{{ population.canton_count }}</div>
					<div class="stat-label text-muted">{% translate "Cantons" %}</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-6">
			<div class="card stat-card">
				<div class="card-body text-center">
					<div class="stat-value h2 font-weight-bold">{{ population.village_count }}</div>
					<div class="stat-label text-muted">{% translate "Villages" %}</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-6">
			<div class="card stat-card">
				<div class="card-body text-center">
					<div class="stat-value h2 font-weight-bold">{{ planning_status.priorities_identified|default:"0" }}</div>
					<div class="stat-label text-muted">{% translate "Priorities Identified" %}</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-6">
			<div class="card stat-card">
				<div class="card-body text-center">
					<div class="stat-value h2 font-weight-bold">
						{% if population.total_estimated_cost >= 1000000000000 %}
							{{ population.total_estimated_cost|divide:1000000000000|floatformat:1 }}B
						{% elif population.total_estimated_cost >= 1000000000 %}
							{{ population.total_estimated_cost|divide:1000000000|floatformat:1 }}Mds
						{% elif population.total_estimated_cost >= 1000000 %}
							{{ population.total_estimated_cost|divide:1000000|floatformat:1 }}M
						{% else %}
							{{ population.total_estimated_cost|intcomma }}
						{% endif %}
					</div>
					<div class="stat-label text-muted">{% translate "Total Estimated Cost (FCFA)" %}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body table-responsive">
					<div class="col-12">
						<ul class="nav nav-tabs">
							<li class="nav-item btn p-0"><a class="nav-link active" data-toggle="tab"
															href="#priorities">{% translate "Priorities" %}</a></li>
							<li class="nav-item btn p-0 pl-2 pr-2"><a class="nav-link" data-toggle="tab"
																	  href="#villages">{% translate "Villages" %}</a>
							</li>
							<li class="nav-item btn p-0"><a class="nav-link" data-toggle="tab"
															href="#diagnostics">{% translate "Diagnostics" %}</a></li>
							<li class="nav-item btn p-0 pl-2 pr-2"><a class="nav-link" data-toggle="tab"
																	href="#grm">{% translate "GRM" %}</a></li>
							<li class="nav-item btn p-0"><a class="nav-link" data-toggle="tab"
															href="#climate">{% translate "Climate" %}</a></li>
							<li class="nav-item btn p-0 pl-2 pr-2"><a class="nav-link" data-toggle="tab"
																	  href="#subprojects">{% translate "Subprojects" %}</a>
							</li>
						</ul>

						<div class="tab-content mt-3">
							<div id="priorities" class="tab-pane active pt-3">
								{% include 'commune/tabs/priorities.html' %}
							</div>
							<div id="villages" class="tab-pane fade pt-3">
								<table class="table table-bordered">
									<thead>
									<tr>
										<th class="align-middle border-top-left-corner">{% translate 'Name' %}</th>
										{% if villages.0.parent.type %}
											<th class="align-middle">{{ villages.0.parent.type|title }}</th>
										{% else %}
											<th class="align-middle">{% translate 'Canton' %}</th>
										{% endif %}
										<th class="align-middle">{% translate 'Population' %}</th>
										<th class="align-middle">{% translate 'Invested Capital' %}</th>
										<th class="align-middle">{% translate 'Required Capital' %}</th>
										<th class="align-middle">{% translate 'Per Capita Invested' %}</th>
										<th class="align-middle">{% translate 'Per Capita Required' %}</th>
										<th class="align-middle">{% translate 'Actions' %}</th>
									</tr>
									</thead>
									<tbody>
									{% for village in villages %}
										<tr>
											<td>
												<a href="{% url 'administrativelevels:village_detail' village.id %}">
													{{ village.name }}
												</a>
											</td>
											<td>
												<a href="{% url 'administrativelevels:canton_detail' village.parent.id %}">
													{{ village.parent.name }}
												</a>
											</td>
											<td>{{ village.total_population|intcomma }}</td>
											<td>{{ village.total_founded|intcomma }}</td>
											<td>{{ village.total_estimated_cost|intcomma }}</td>
											<td>{{ village.per_capita_invested|intcomma }}</td>
											<td>{{ village.per_capita_required|intcomma }}</td>
											<td><i class="nav-icon fa fa-bars text-primary" data-toggle="modal"
												   data-target="#exampleModal"></i></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							<div id="diagnostics" class="tab-pane fade">
								<h5>{% translate "In construction" %}</h5>
							</div>
                            <div id="grm" class="tab-pane fade">
                                <div class="card">
                                    <div class="card-body">
                                        {% include 'shared/grm_table.html' %}
                                    </div>
                                </div>
                            </div>
							<div id="climate" class="tab-pane fade position-relative">
								{% include 'climate/tabs/mapbox.html' %}
							</div>
							<div id="subprojects" class="tab-pane fade pt-3">
								{% if subprojects.count == 0 %}
									<h5>{% translate 'You have no Sub-projects' %}</h5>
								{% else %}
									<table class="table table-bordered">
										<thead>
										<tr>
											<th class="align-middle" rowspan="2">{% translate 'Ranking' %}</th>
											<th class="align-middle"
												rowspan="2">{% translate 'Sub-project priorities' %}</th>
											<th class="align-middle" colspan="4">{% translate 'Priorities' %}</th>
											<th class="align-middle" rowspan="2">{% translate 'Beneficiaries' %}</th>
											<th class="align-middle" rowspan="2">{% translate 'Estimated cost' %}</th>
											<th class="align-middle" rowspan="2">{% translate 'Funded by' %}</th>
											<th class="align-middle"
												rowspan="2">{% translate 'Climate contribution' %}</th>
											<th class="align-middle" rowspan="2">{% translate 'Village' %}</th>
											<th class="align-middle" rowspan="2">{% translate 'Actions' %}</th>
										</tr>
										<tr>
											<th class="bg-yellow rounded-0 border-sides-0 white-font pointer-event align-content-center"
												title="{% translate 'Youth' %}" data-toggle="tooltip"
												data-placement="top">
												<span>J</span>
											</th>
											<th class="bg-blue rounded-0 border-sides-0 white-font pointer-event align-content-center"
												title="{% translate 'Women' %}" data-toggle="tooltip"
												data-placement="top">
												<span>F</span>
											</th>
											<th class="bg-orange rounded-0 border-sides-0 white-font pointer-event align-content-center"
												title="{% translate 'Ethnic minorities' %}" data-toggle="tooltip"
												data-placement="top">
												<span>ME</span>
											</th>
											<th class="bg-green rounded-0 border-sides-0 white-font pointer-event align-content-center"
												title="{% translate 'Agriculturist' %}" data-toggle="tooltip"
												data-placement="top">
												<span>AE</span>
											</th>
										</tr>
										</thead>
										<tbody>
										{% for subproject in subprojects %}
											<tr>
												<td>{% if subproject.ranking %}{{ subproject.ranking }}{% else %}-{% endif %}</td>
												{% if subproject.title == "Autre" %}
													<td class="border-sides--light">
														<a href="" data-container="body" data-toggle="popover"
														   data-placement="top" data-trigger="hover" data-content="

																{% if subproject.description %}{{ subproject.description }}{% else %}-{% endif %}">
															{{ subproject.title }}
														</a>
													</td>
												{% else %}
													<td class="border-sides--light">{{ subproject.title }}</td>
												{% endif %}
												<td class="border-sides--light">
													{% if subproject.endorsed_by_youth %}✓{% endif %}</td>
												<td class="border-sides--light">
													{% if subproject.endorsed_by_women %}✓{% endif %}</td>
												<td class="border-sides--light">
													{% if subproject.endorsed_by_pastoralist %}✓{% endif %}</td>
												<td class="border-sides--light">
													{% if subproject.endorsed_by_agriculturist %}✓{% endif %}</td>
												<td class="border-sides--light">{% if subproject.beneficiaries %}{{ subproject.beneficiaries|intcomma }}{% else %}-{% endif %}</td>
												<td class="border-sides--light">{% if subproject.estimated_cost %}{{ subproject.estimated_cost|intcomma }}{% else %}-{% endif %}</td>
												<td class="border-sides--light">{{ subproject.funded_by.name }}</td>
												<td class="border-sides--light">{% if subproject.climate_contribution %}
													{{ subproject.climate_contribution_text }}{% else %}
													{% translate "No" %}{% endif %}</td>
												<td class="border-sides--light">{{ subproject.administrative_level.name }}</td>
												<td><i class="nav-icon fa fa-bars" data-toggle="modal"
													   data-target="#exampleModal"></i></td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block modals %}
	{{ block.super }}

	<div class="modal fade" id="taskModalLong" tabindex="-1" role="dialog" aria-labelledby="taskModalLongTitle"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div id="modal-content" class="modal-content">
				{#            <div class="modal-header">#}
				{#                <h4 class="modal-title text-primary" id="taskModalTitle">...</h4>#}
				{##}
				{#                <span class="badge badge-pill badge-lg badge-info ml-1" id="taskModalStatus">...</span>#}
				{##}
				{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
				{#                    <span aria-hidden="true">&times;</span>#}
				{#                </button>#}
				{#            </div>#}
				{#            <div class="modal-body">#}
				{#                <p id="taskModalDescription">#}
				{#                    ...#}
				{#                </p>#}
				{#                <br>#}
				{#                <div id="taskModalAttrs"></div>#}
				{#            </div>#}
			</div>
		</div>
	</div>

{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

	<!-- Attachments script for carrousel -->
	<script type="text/javascript">

        $('[data-toggle="popover"]').popover();
        let spin_attachments_images = $("#spin-attachments-images");
        let attachments_images = $("#attachments_images");
        spin_attachments_images.show();
        attachments_images.html(`
    {% if images_data.exists_at_least_image %}

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in images_data.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
            {% if forloop.first %}class="active"{% endif %} ></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in images_data.images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{% url 'administrativelevels:attachments' %}?{{ context_object_name }}={{ object.id }}">
                            <img class="d-block w-100" src="{{ image.url|imgAWSS3Filter }}"
                            style="height: 500px !important;"
                            alt="{{ image.task }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    {% else %}
    <a href="{% url 'administrativelevels:attachments' %}?{{ context_object_name }}={{ object.id }}">
                <img class="card-img rounded" src="{% static 'images/village-image.jpg' %}"
    alt="Card image">
    </a>

    {% endif %}
    `);
        spin_attachments_images.hide();
	</script>

	<script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>
	<script src="{% static 'plugins/datepicker/datepicker.en.js' %}"></script>
	<script src="{% static 'plugins/datepicker/datepicker.custom.js' %}"></script>

	<!-- Planning cycle script -->
	<script type="text/javascript" async>
        $(document).ready(function () {

            $(".pc-btn").on('click', function () {

                let phase_id = $(this).attr("id").split("-")[3];
                let activity_buttons = $("#v-phase-" + phase_id + "-pills-tab").children();
                let has_selected = false;
                $(".tasks-pane").removeClass("active show");
                activity_buttons.each(function () {
                    if ($(this).hasClass("active")) {
                        let activity_id = $(this).attr("id").split("-")[3];
                        $("#activity-" + activity_id + "-content").tab("show");
                        has_selected = true;
                    }
                });
                if (!has_selected) {
                    let single_button = $("#v-phase-" + phase_id + "-pills-tab").children(":first-child");
                    let activity_id = single_button.attr("id").split("-")[3];
                    single_button.addClass("active")
                    $("#activity-" + activity_id + "-content").tab("show");
                }
            });

            $('#taskModalLong').on('shown.bs.modal', function (e) {
                let pk = e.relatedTarget.id.split('-')[3];
                let base_url = "{% url 'administrativelevels:utils:task_detail' 0 %}";
                base_url = base_url.replace(0, pk);
                $.ajax({
                    type: "GET",
                    url: base_url,
                    success: function (response) {
                        $('#modal-content').html(response);
                    }
                });
            });

        });
	</script>

	<!-- Priorities script -->
	<script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            function initCommunePrioritiesDT() {
                // Investment Types table (sub-tab 1)
                var $typeTable = $('#priorities-investments-type-tab .commune-priorities-dt');
                if ($typeTable.length && !$.fn.DataTable.isDataTable($typeTable)) {
                    $typeTable.DataTable({
                        searching: false,
                        columnDefs: [{orderable: false, targets: [3, 4, 5, 6, 8]}]
                    });
                }

                // Individual Villages table (sub-tab 2)
                var $villagesTable = $('#priorities-villages-tab .commune-priorities-dt');
                if ($villagesTable.length && !$.fn.DataTable.isDataTable($villagesTable)) {
                    $villagesTable.DataTable({
                        searching: false,
                        columnDefs: [{orderable: false, targets: [3, 4, 5, 6, 9]}]
                    });
                }
            }

            if ($('#priorities').hasClass('active')) {
                initCommunePrioritiesDT();
            }

            $('a[data-toggle="tab"][href="#priorities"]').on('shown.bs.tab', function () {
                initCommunePrioritiesDT();
            });

            $('button[data-toggle="pill"]').on('shown.bs.tab', function () {
                initCommunePrioritiesDT();
            });

            document.addEventListener('htmx:afterOnLoad', function (evt) {
                if (evt.detail.target.id === 'priorities') {

                    var activeTabId = localStorage.getItem('activePriorityTab');
                    if (activeTabId) {
                        var $tabButton = $('#' + activeTabId);
                        if ($tabButton.length) {
                            $('#priorities .nav-link, #priorities .nav-item button').removeClass('active').attr('aria-selected', 'false');
                            $('#priorities .tab-pane').removeClass('show active');

                            $tabButton.addClass('active').attr('aria-selected', 'true');
                            var target = $tabButton.attr('data-target') || $tabButton.attr('href');
                            $(target).addClass('show active');
                        }
                    }

                    initCommunePrioritiesDT();
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });

            $(document).on('shown.bs.tab', '#priorities button[data-toggle="pill"]', function (e) {
                localStorage.setItem('activePriorityTab', e.target.id);
            });
        });
	</script>
{% endblock %}