{% extends 'layouts/base.html' %}{% load static i18n humanize custom_tags %}

{% block content %}
	<div class="row">

	</div>
	<div class="row">

		<div class="col-md-12">
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link"
								data-target="#collapseTwo" data-toggle="collapse">
							{% translate 'Villages with uncompleted tasks' %}
						</button>
					</h5>
				</div>
				<div aria-labelledby="headingTwo" class="collapse show" id="collapseTwo">
					<div class="card-body table-responsive">
						<table class="table table-hover">
							<thead>
							<tr>
								<th>{% translate 'Name' %}</th>
								<th>{% translate 'Uncompleted tasks' %}</th>
							</tr>
							</thead>
							<tbody>
							{% with villages as villages %}
								{% for village in villages %}
									<tr>
										<td class="text-left">
											<a href="{% url 'administrativelevels:village_detail' village.id %}">
												{{ village.name }}
											</a>
										</td>
										<td>{{ village.uncompleted_tasks }}</td>
									</tr>
								{% endfor %}
							{% endwith %}
							</tbody>
						</table>
						<div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
									<a href="?page=1">&laquo; first</a>
									<a href="?page={{ page_obj.previous_page_number }}">previous</a>
								{% endif %}

								<span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

								{% if page_obj.has_next %}
									<a href="?page={{ page_obj.next_page_number }}">next</a>
									<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
								{% endif %}
                            </span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block modals %}
	<div class="modal fade" id="removePackageModal" tabindex="-1" role="dialog"
		 aria-labelledby="removePackageModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form action="" method="POST" name="remove-package-form" id="remove-package-form-id">
					<div class="modal-header">
						<h5 class="modal-title"
							id="removePackageModalLabel">{% translate 'Are you sure do you want to remove the package?' %}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						{% csrf_token %}
						<input type="hidden" name="clear-package-input">
						<button type="button" class="btn btn-secondary"
								data-dismiss="modal">{% translate 'Close' %}</button>
						<input type="submit" class="btn btn-danger" name="clear-package-submit"
							   value="{% translate 'Remove' %}">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script type="text/javascript">
        $(document).ready(function () {

            $('.user-form-action').on('click', function () {

                let user_id = $(this).attr('name');
                let action = $(this).attr('id').split('-')[0];

                $('#action-input-form-' + user_id).attr('value', action);

                $('#approve-user-form-id-' + user_id).submit();

            });

        });
	</script>
{% endblock %}