.git
.gitignore
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
venv*/
.env
local_settings.py

.git
.idea
# virtual environments
venv*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*__init__

# C 
*.so

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

*.pyc
*.pyo
*.db
collected_static/

db.sqlite3
