# Python virtual environment
venv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/cosomis/.develop.env

# Environment variables
/cosomis/.env

#media
/media/
collected_static/
Benin_localities_shp/
images_realisation_sous-projets_15062026/


.env

Procfile

# Local-only Docker setup
Dockerfile.dev
docker-compose.yml
.dockerignore