SECRET_KEY=secret
ALLOWED_HOSTS=*
DATABASE_URL=mysql://root:open0101@localhost:3306/cdddb
LEGACY_DATABASE_URL=mysql://root:open0101@localhost:3306/cdddb
DEBUG=True
NO_SQL_URL=http://localhost:5984
NO_SQL_USER=admin
NO_SQL_PASS=open0101
KOBO_TOKEN=3f2755a6055ab1cddae675d135a6aaf8fbf518be
S3_BUCKET=cddfiles
S3_ACCESS=Test
S3_SECRET=Test/3wJKJ0L5nShavbl01+vpxUxSgI5Fq
MAPBOX_ACCESS_TOKEN=
S3_ENDPOINT_URL=<useful for minio>
DIAGNOSTIC_MAP_LATITUDE=8.770198211475261
DIAGNOSTIC_MAP_LONGITUDE=0.8332327892880187
DIAGNOSTIC_MAP_ZOOM=6.29
DIAGNOSTIC_MAP_WS_BOUND=[-1.6405819530436645, 6.032835821531734]
DIAGNOSTIC_MAP_EN_BOUND=[3.226379659586371, 11.303021230048657]
DIAGNOSTIC_MAP_ISO_CODE=TGO
env=dev
MIXPANEL_TOKEN=test
MIXPANEL_API_SECRET=test
MIS_API_KEY=test
MIS_URL=http://localhost

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
RECIPIENT_EMAIL_DEFAULT=dev@example.com
FRONTEND_URL_ROOT=http://127.0.0.1:8000
AUTHORIZED_USERS_FOR_USER_REGISTRATION_VIA_API=admin,testuser
GRM_SECRET_KEY_GENRATE=test
GRM_URL=http://localhost