{% load static i18n bootstrap4 custom_tags humanize  %}
{% if datas %}

{% make_list "summary_subprojects_by_sectors_1" as ids_to_skip_to_format %}
{% make_list "Nombre de Sous-projets" "Number of subprojects" "Nombre d'infrastructures pour le sous-projet" "Number of subproject infrastructures" "Step" "Etape" "N°" "Actual level" "Niveau réel" "Number" "Nombre" as columns_to_skip_to_format %}
{% make_list "Actual level" "Niveau réel" as columns_to_add_percent %}
{% make_list "Secteurs" "Sectors" "Type" "Ouvrages" "Structures" "Step" "Etape" as columns_to_put_left %}

<div class="card">
    <div class="card-header">
        <h5 class="font-weight-bold">{{ datas_title }}</h5>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="input-group mb-3 search-bar">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="search-{{ data_id }}" placeholder="{% translate 'Search' %}...">
            </div>
        </div>
        <div class="col-2">
            <div class="text-right mb-4">
                <form method='post'action="{% url 'dashboard:dashboard_download_excel_file' %}">
                    <button class="btn btn-primary btn-xs" type="submit" id="export-{{ data_id }}">
                        <i class="fa fa-file-export"></i> {% translate 'Export file' %}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body table-responsive">
        <table id="table-{{ data_id }}" class="table {{ table_class_style }}" >
            <thead class="{{ table_thead_class_style }}">
            {% if queryset_results.administrative_level_type %}
            <tr>
                <td colspan="{{ datas.keys|length }}" scope="col">{{ queryset_results.administrative_level_type }}</td>
            </tr>
            {% endif %}
            <tr>
                {% for column in datas.keys %}
                <td 
                    {% if column != 'Sectors' and column != 'Secteurs' and column != 'Type' %}
                    
                    {% endif %}
                    >{{ column }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for i in datas_length_loop %}
                <tr>
                    {% for column in datas.keys %}
                    <td 
                        {% if column in columns_to_put_left %}
                            align="left"
                        {% endif %}
                        >
                        {% with datas_values|get_on_list:forloop.counter0 as value %}
                            {% with value|get:i as v %}
                                {% with v|isnumber as v_isnumber %}
                                    {% if v_isnumber and data_id not in ids_to_skip_to_format and column not in columns_to_skip_to_format %}
                                        {{ v|separate_with_space }}
                                    {% elif v_isnumber %}
                                        {{ v|remove_zeros_on_zeros }}
                                    {% elif column in columns_to_add_percent %}
                                        {% if v %}{{ v }}%{% endif %}
                                    {% else %}
                                        {% if v %}{{ v }}{% else %} - {% endif %}
                                    {% endif %}

                                    {% if column in columns_to_add_percent and v %}%{% endif %}

                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="font-weight-bold d-flex justify-content-center text-danger" >
    <p>{% translate 'Empty!' %}</p>
</div>
{% endif %}

<a id="downloard_a"></a>


<!-- DataTables export files -->
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script src="{% static 'AdminLTE/plugins/cloudflare/ajax/libs/jszip/3.10.1/jszip.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/cloudflare/ajax/libs/pdfmake/0.1.53/pdfmake.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/cloudflare/ajax/libs/pdfmake/0.1.53/vfs_fonts.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        {% get_current_language as lang %}
        let table_subprojects_number = $('#table-{{ data_id }}').DataTable({
            language: {
                url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
            },
            {% comment %} dom: "ltipr",
            buttons: [
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 2, 3]
                    }
                }
            ], {% endcomment %}

            dom: 'Blrtip',
        {% comment %} buttons: [
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
                }
            },
            'colvis'
        ], {% endcomment %}

        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],


        
            lengthMenu: [10, 20, 50, 100, 200, 500, 1000, 10000],
            pageLength: 10,
            order: []
        });

        table_subprojects_number.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );


        $('#search-{{ data_id }}').on('keyup', function () {
            table_subprojects_number.search($(this).val()).draw();
        });

        $("#export-{{ data_id }}").on("click", function (event) {
            event.preventDefault();
            var datas_json = {{ datas|safe }};
            $.ajax({
                    type: "POST",
                    url: $(this).parent().attr('action'),
                    headers:{
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    data: JSON.stringify({
                        datas: datas_json,
                        type_datas: '{{ data_id }}' + '_{{ queryset_results.administrative_level_type }}_'
                    }),
                    success: function (response) {
                        if(response.error){
                            alert(response.error);
                            return;
                        }else{
                            window.open('{% static 'o' %}'.replace('o', response), '_blank');
                        }
                    },
                    error: function (response) {
                        alert(error_server_message + "Error " + response.status);
                    }
                });


        });


    });
</script>


