

a {
    color: #599CF7;
}

.radio-button_search {
    margin-right: 10px; /* Ajoutez de l'espace horizontal entre les boutons */
}

.table tr:not(:last-child) td {
    border-bottom: 1px solid #efefef;
}

.form-control::-webkit-input-placeholder {
    color: #dedede;
}

.form-control::-moz-placeholder {
    color: #dedede;
}

.form-control:-ms-input-placeholder {
    color: #dedede;
}

.form-control::-ms-input-placeholder {
    color: #dedede;
}

.form-control::placeholder {
    color: #dedede;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f7;
}

.col-form-label {
    text-align: right !important;
    display: block !important;
}

.form-check {
    margin-top: 25px !important;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #599CF7;
    border-color: #599CF7;
}

.btn-success {
    background-color: #599cf7;
    border-color: #599cf7;
}

.btn-success:hover {
    background-color: hsl(217, 89%, 58%);
    border-color: hsl(217, 89%, 58%);
}

.btn-success.disabled, .btn-success:disabled {
    background-color: #dedede;
    border-color: #dedede;
}

.btn-outline-primary {
    color: #599CF7;
    border-color: #599CF7;
}

.btn-outline-primary:hover {
    background-color: #599CF7;
    border-color: #599CF7;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #599CF7;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: #599CF7;
    border-color: #599CF7;
}

.btn-link {
    color: #599CF7;
}

.btn-link:hover {
    color: #599cf7;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 16px 22.5px !important;
    font-size: 16px;
    line-height: 25px;
    border-radius: 10px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #599CF7;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #599CF7;
    background-color: #599CF7;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #f7f7f7;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #599CF7;
    background-color: #599CF7;
}

.custom-range::-webkit-slider-thumb {
    background-color: #599CF7;
}

.custom-range::-webkit-slider-runnable-track {
    background-color: #efefef;
}

.custom-range::-moz-range-thumb {
    background-color: #599CF7;
}

.custom-range::-moz-range-track {
    background-color: #efefef;
}

.custom-range::-ms-thumb {
    background-color: #599CF7;
}

.custom-range::-ms-fill-lower {
    background-color: #efefef;
}

.custom-range::-ms-fill-upper {
    background-color: #efefef;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #f7f7f7 #f7f7f7 #efefef;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-color: #efefef #efefef #ffffff;
}

.nav-pills .nav-link.active a,
.nav-pills .show > .nav-link a {
    color: #707070;
}

.breadcrumb {
    background-color: #f7f7f7;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}

.page-link {
    color: #599CF7;
}

.page-link:hover {
    color: #599cf7;
}

.page-item.active .page-link {
    background-color: #599CF7;
    border-color: #599CF7;
}

.badge-primary {
    background-color: #599CF7;
}

.badge-yellow {
    color: #ffffff;
    background-color: #f5ba74;
}

.progress-bar {
    background-color: #599CF7;
}

.list-group-item.active {
    background-color: #599CF7;
    border-color: #599CF7;
}

.border {
    border: 1px solid #efefef !important;
}

.border-top {
    border-top: 1px solid #efefef !important;
}

.border-right {
    border-right: 1px solid #efefef !important;
}

.border-bottom {
    border-bottom: 1px solid #efefef !important;
}

.border-left {
    border-left: 1px solid #efefef !important;
}

.border-primary {
    border-color: #599CF7 !important;
}

.rounded-xl {
    border-radius: 7px !important;
}

.text-primary {
    color: #599CF7 !important;
}

.text-muted {
    color: #dedede !important;
}

.main-header {
    border-bottom: 1px solid #efefef;
    font-size: 20px;
    height: 100px;
}

.brand-image-map {
    position: absolute;
    width: 250px;
    top: 0;
    z-index: -1;
    left: 0;
}

.sidebar-collapse .brand-link .brand-image {
    width: 40px;
    height: auto;
}

.sidebar-collapse .brand-link .brand-image-map {
    visibility: hidden;
}

.user-panel .info {
    display: inline-block;
    padding: 10px 5px 0 20px;
}

.user-panel .info a.name {
    font-size: 14px;
    color: #599CF7;
}

.user-panel .info .email {
    font-size: 10px;
    font-weight: 500;
    color: #b5b5b5;
    margin-bottom: 0;
}

.user-panel .image {
    display: inline-block;
    padding-left: 0.8rem;
}

.user-panel img {
    height: auto;
    width: 59.8px;
}

.nav-item img {
    height: auto;
    width: 48px;
}

.nav-greetings {
    height: 2.5rem;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
}

.sidebar-collapse .user-panel img {
    width: 2.1rem;
}

.nav-pills .nav-link:not(.active):hover {
    color: #599CF7;
}

.navbar-primary {
    background-color: #599CF7;
}

.navbar-mediumslateblue {
    background-color: #74a1f5;
}

.navbar-mediumpurple {
    background-color: #7276d1;
}

.navbar-plum {
    background-color: #d078bb;
}

.navbar-lightgray {
    background-color: #dedede;
}

.navbar-gray {
    background-color: #707070;
}

.custom-range.custom-range-primary::-webkit-slider-thumb {
    background-color: #599CF7;
}

.custom-range.custom-range-primary::-moz-range-thumb {
    background-color: #599CF7;
}

.custom-range.custom-range-primary::-ms-thumb {
    background-color: #599CF7;
}


.card-primary:not(.card-outline) > .card-header {
    background-color: #599CF7;
}

.card-primary.card-outline {
    border-top: 3px solid #599CF7;
}

.card-primary.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-primary.card-outline-tabs > .card-header a.active {
    border-top: 3px solid #599CF7;
}

.card-secondary.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-success.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-info.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-dark.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-lightblue.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-navy.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-olive.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-lime.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-fuchsia.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-blue.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-indigo.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-purple.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-pink.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-red.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-orange.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-yellow.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-green.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-teal.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-cyan.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-white.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-gray.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-gray-dark.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card.card-outline-tabs .card-header a:hover {
    border-top: 3px solid #efefef;
}

.card-comments .card-comment {
    border-bottom: 1px solid #f7f7f7;
}

.todo-list > li {
    border-left: 2px solid #f7f7f7;
}

.todo-list .primary {
    border-left-color: #599CF7;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: #f7f7f7;
}

.callout {
    border-left: 5px solid #f7f7f7;
}

.callout a:hover {
    color: #f7f7f7;
}

.table:not(.table-dark) {
    color: #707070;
}

.table.table-head-fixed thead tr:nth-child(1) th {
    box-shadow: inset 0 1px 0 #efefef, inset 0 -1px 0 #efefef;
}

.direct-chat-primary .right > .direct-chat-text {
    background: #599CF7;
    border-color: #599CF7;
}

.direct-chat-primary .right > .direct-chat-text::after, .direct-chat-primary .right > .direct-chat-text::before {
    border-left-color: #599CF7;
}

.profile-user-img {
    border: none;
    border-radius: 34px;
    margin: 0 auto;
    max-height: 158px;
    max-width: 158px;
    width: 100%;
}

.select2-container--default .select2-primary .select2-results__option--highlighted,
.select2-primary .select2-container--default .select2-results__option--highlighted {
    background-color: #599CF7;
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: #599CF7;
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):focus + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):focus + input[type="hidden"] + label::before {
    border-color: #599CF7;
}

.icheck-primary > input:first-child:checked + label::before,
.icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: #599CF7;
    border-color: #599CF7;
}

#toast-container .toast {
    background-color: #599CF7;
}

.pace-primary .pace .pace-progress {
    background: #599CF7;
}

.pace-barber-shop-primary .pace .pace-progress {
    background: #599CF7;
}

.pace-bounce-primary .pace .pace-activity {
    background: #599CF7;
}

.pace-center-atom-primary .pace-progress::before {
    background: #599CF7;
}

.pace-center-atom-primary .pace-activity {
    border-color: #599CF7;
}

.pace-center-atom-primary .pace-activity::after, .pace-center-atom-primary .pace-activity::before {
    border-color: #599CF7;
}

.pace-center-radar-primary .pace .pace-activity {
    border-color: #599CF7 transparent transparent;
}

.pace-center-radar-primary .pace .pace-activity::before {
    border-color: #599CF7 transparent transparent;
}

.pace-center-simple-primary .pace {
    border-color: #599CF7;
}

.pace-center-simple-primary .pace .pace-progress {
    background: #599CF7;
}

.pace-material-primary .pace {
    color: #599CF7;
}

.pace-corner-indicator-primary .pace .pace-activity {
    background: #599CF7;
}

.pace-flash-primary .pace .pace-progress {
    background: #599CF7;
}

.pace-flash-primary .pace .pace-progress-inner {
    box-shadow: 0 0 10px #599CF7, 0 0 5px #599CF7;
}

.pace-flash-primary .pace .pace-activity {
    border-top-color: #599CF7;
    border-left-color: #599CF7;
}

.pace-loading-bar-primary .pace .pace-progress {
    background: #599CF7;
    color: #599CF7;
    box-shadow: 120px 0 #ffffff, 240px 0 #ffffff;
}

.pace-loading-bar-primary .pace .pace-activity {
    box-shadow: inset 0 0 0 2px #599CF7, inset 0 0 0 7px #ffffff;
}

.pace-mac-osx-primary .pace .pace-progress {
    background-color: #599CF7;
    box-shadow: inset -1px 0 #599CF7, inset 0 -1px #599CF7, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3);
}

.pace-progress-color-primary .pace-progress {
    color: #599CF7;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #599CF7;
}

blockquote {
    border-left: 0.7rem solid #599CF7;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
    color: #599CF7;
}

blockquote.quote-primary {
    border-color: #599CF7;
}

blockquote.quote-primary h1,
blockquote.quote-primary h2,
blockquote.quote-primary h3,
blockquote.quote-primary h4,
blockquote.quote-primary h5,
blockquote.quote-primary h6 {
    color: #599CF7;
}

blockquote.quote-blue {
    border-color: #599CF7;
}

blockquote.quote-blue h1,
blockquote.quote-blue h2,
blockquote.quote-blue h3,
blockquote.quote-blue h4,
blockquote.quote-blue h5,
blockquote.quote-blue h6 {
    color: #599CF7;
}

.bg-primary.btn:hover {
    border-color: #599cf7;
}

.bg-primary.btn:not(:disabled):not(.disabled):active, .bg-primary.btn:not(:disabled):not(.disabled).active, .bg-primary.btn:active, .bg-primary.btn.active {
    background-color: #599cf7 !important;
    border-color: #599cf7;
}

.accent-primary .btn-link,
.accent-primary a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn) {
    color: #599CF7;
}

.accent-primary .dropdown-item:active, .accent-primary .dropdown-item.active {
    background: #599CF7;
}

.accent-primary .page-item .page-link {
    color: #599CF7;
}

.accent-primary .page-item.active a,
.accent-primary .page-item.active .page-link {
    background-color: #599CF7;
    border-color: #599CF7;
}

/*# sourceMappingURL=../AdminLTE/dist/css/adminlte.css.map */

.main-title {
    font-size: 22px;
    line-height: 1.64;
    color: #599CF7;
}

.toogle-sidebar-button {
    position: absolute;
    display: inline-block;
    bottom: 50px;
    width: 100%;
    background-color: #ffffffb8;
}

.toogle-sidebar-button i:before {
    content: "\f053";
}

.sidebar-collapse .toogle-sidebar-button i:before {
    content: "\f054";
}

.search-bar input {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 0;
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
}

.search-bar .input-group-text {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 0;
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
    color: #dedede;
    background-color: #ffffff;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 14px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs15 {
    font-size: 15px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs28 {
    font-size: 28px !important;
}

.fs29 {
    font-size: 29px !important;
}

.fs35 {
    font-size: 35px !important;
}

.fs38 {
    font-size: 38px !important;
}

.fs44 {
    font-size: 44px !important;
}

.fs56 {
    font-size: 56px !important;
}

.lh14 {
    line-height: 14px !important;
}

.lh15 {
    line-height: 15px !important;
}

.lh16 {
    line-height: 16px !important;
}

.lh18 {
    line-height: 18px !important;
}

.lh19 {
    line-height: 19px !important;
}

.lh20 {
    line-height: 20px !important;
}

.lh23 {
    line-height: 23px !important;
}

.lh25 {
    line-height: 25px !important;
}

.lh27 {
    line-height: 27px !important;
}

.lh30 {
    line-height: 30px !important;
}

.lh35 {
    line-height: 35px !important;
}

.lh46 {
    line-height: 46px !important;
}

.height6 {
    height: 6px !important;
}

.height8 {
    height: 8px !important;
}

.height22 {
    height: 22px !important;
}

.height60 {
    height: 60px !important;
}

.center-27 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 27px;
    width: 27px;
}

.center-32 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 32px;
    width: 32px;
}

.circle-icon {
    display: inline-block;
    border-radius: 50%;
}

.chevron-circle {
    margin: 15px 15px 15px 0;
    background-color: #21487994;
}

.nav-profile-buttons a {
    border: 0;
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.nav-profile-buttons li {
    margin-bottom: 1.5rem !important;
}

.nav-profile-buttons .nav-pills .nav-link.active {
    border: 0;
    color: #ffffff;
}

.center-27 .fa-chevron-down {
    font-size: 16px;
    color: #ffffff !important;
    width: 27px;
    vertical-align: middle;
    margin-top: 4px;
}

.center-27 .fa-times {
    font-size: 16px;
    vertical-align: middle;
}

.card-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
    margin: 2px 8px 17px;
    padding: 9px;
}

.nav .card-item {
    cursor: pointer;
}

.nav .card-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #212529;
}

.chevron-item {
    color: #599CF7;
    position: absolute;
    bottom: 1px;
    right: 9px;
}

.modal-right {
    padding-right: 0 !important;
}

.modal-right .modal-header {
    padding-right: 9%;
}

.modal-right .modal-content {
    border-radius: 14px 0 0 14px !important;
}

.modal-right .modal-dialog-aside .modal-content .modal-body {
    overflow-y: scroll !important;
}

.toggle-button-modal {
    width: 52px;
    height: 52px;
    font-size: 16px;
    border-radius: 14px !important;
    border: none;
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05)
}

.toggle-button-modal i {
    margin-top: 5px;
}

.btn-status {
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px !important;
    border: none;
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05)
}

.btn-status i {
    margin-top: 5px;
}

.border-separator {
    border: 1px solid #efefef;
    width: 100%;
}

.badge-task {
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    height: 35px;
    padding: 9px;
    margin: 0;
}

.badge-task i {
    font-size: 14px;
}

.task-detail-button {
    margin: 2px 0 17px;
}

.task-detail-button button {
    width: 52px;
    height: 100%;
    font-size: 16px;
    border-radius: 10px !important;
    border: none;
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05)
}

@media (max-width: 575.98px) {
    .task-detail-button {
        margin: -10px 8px 17px;
    }

    .task-detail-button button {
        width: 100%;
    }
}

.document-task {
    border: solid 1px #f7f7f7;
    color: #dedede;
}

.hidden {
    display: none;
}

.badge-task-detail {
    font-size: 14px;
    border-radius: 4px;
    line-height: 16px;
    width: 154px;
    height: 35px;
    padding: 10px;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    vertical-align: baseline;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.link {
    color: #599CF7;
    cursor: pointer;
}

.link:hover {
    color: #005cbf;
}

.link-attachment {
    font-size: 14px;
    border-radius: 4px;
    line-height: 16px;
    height: 35px;
    padding: 10px;
    text-align: left;
    color: #599CF7;
    display: block;
    width: fit-content;
    background-color: #f7f7f7;
}

.btn-link-primary {
    color: #599CF7;
}

.btn-link-primary:hover {
    color: #005cbf;
}

.btn-link-primary.disabled, .btn-link-primary:disabled {
    color: #6c757d;
    background-color: transparent;
}

.search-bar-select {
    color: #707070;
}

.search-bar-select .select2-selection {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #f7f7f7;
    border: 0;
}

.search-bar-select .input-group-text {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #f7f7f7;
    border: 0;
}

.transparent-select .select2-container--default .select2-selection--single {
    border: none;
    padding: 0.56rem 0.25rem;
    height: calc(2.25rem + 2px);
}

.legend-text {
    display: inline-block;
    vertical-align: middle;
}

.display-flex {
    display: flex;
}

.flex-flow-column {
    flex-flow: column nowrap;
}

.ol-map {
    height: 589px;
    width: 100%;
}

.ol-map .ol-viewport {
    border-radius: 10px;
    border: solid 1px #707070;
}

.ol-zoom {
    top: 104px !important;
    right: 17px !important;
    left: unset !important;
}

.ol-custom-buttons {
    top: 14px;
    right: 17px;
}

.ol-attribution.ol-uncollapsible {
    display: none;
}

.ol-control {
    background-color: unset !important;
    padding: 0 !important;
}

.ol-control button {
    margin-bottom: 10px !important;
    color: #599CF7 !important;
    font-size: 22px !important;
    text-decoration: none !important;
    height: 35px !important;
    width: 35px !important;
    background-color: #ffffff !important;
    border-radius: 6px !important;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.ol-control button:hover {
    color: #ffffff !important;
    background-color: #599CF7 !important;
}

.modal-confirmation .modal-content {
    border: none;
    border-radius: 24px;
    box-shadow: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto;
}

.dropzone {
    border: none;
    border-radius: inherit;
}

.navbar-badge-point {
    width: 7px;
    height: 7px;
    padding: 1px;
    right: 17px;
    top: 17px;
    border-radius: 100%;
    position: absolute;
}

.select2-selection {
    border-radius: 10px !important;
}

.bg-left-horizontal-celebration {
    position: absolute;
    width: 513px;
    bottom: 0;
    left: 0;
}

.label-align {
    text-align: right !important;
    display: block !important;
}

@media (min-width: 576px) {
    .label-align, .col-form-label {
        text-align: left !important;
    }
}

.absolute-left-110 {
    position: absolute;
    left: 110%;
    z-index: 1;
}

.table thead.primary th {
    background-color: transparent;
    color: #599CF7;
    border-radius: 0;
}

.padding-6-0 {
    padding: 6px 0 !important;
}

.padding-inline-60 {
    padding-inline: 60px !important;
}

.mh-750 {
    max-height: 750px !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.close-modal {
    min-width: 45px;
}

.z-index1000 {
    z-index: 1000 !important;
}

.map-marker {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
}

.pie-chart {
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    max-width: 100%;
}

.card.transparent {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.card.transparent > .card-body {
    padding: 0 !important;
}

.success-color {
    color: #599CF7;
}

.gray-color {
    color: #707070;
}


/* Extra css */

.filter-badge {
  width: 206px;
  height: 35px;
  margin: 12px 20px 18px 0;
  padding: 16px 18px 26px 22px;
  border-radius: 14px;
  background-color: #f6f9fb;
  font-size: 0.875rem;
  line-height: 20px;
  vertical-align: middle;
  display: inline-flex;
}