{% load static i18n humanize custom_tags %}
{% if complaints_error %}
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle mr-1" aria-hidden="true"></i>
        {% translate "Complaints could not be loaded right now. Please try again later." %}
    </div>
{% elif complaints|length == 0 %}
    <h3>{% translate 'You have no complaints' %}</h3>
{% else %}
    <div class="table-responsive">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th class="align-middle">{% translate 'Code' %}</th>
				<th class="align-middle" >{% translate 'Description' %}</th>
				<th class="align-middle" >{%  translate 'Category' %}</th>
				<th class="align-middle" >{%  translate 'Date of complaint' %}</th>
				<th class="align-middle" >{% translate 'Report date' %}</th>
			</tr>
			</thead>
			<tbody>
			{% for complaint in complaints %}
				<tr>
					<td>{{ complaint.tracking_code }} | {{ complaint.internal_code }}</td>
					<td>{{ complaint.description }}</td>
					<td>{{ complaint.category.name }}</td>
					<td>{{ complaint.issue_date|string_to_date|date:'d/m/Y' }}</td>
					<td>{{ complaint.created_date|string_to_date|date:'d/m/Y' }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}
