{% load static i18n humanize custom_tags %}
{% if investments.count == 0 %}
    {% translate 'You have no priorities' %}
{% else %}
    <table class="table rounded-table">
    <thead>
    <tr>
        <th class="align-middle border-top-left-corner" rowspan="2">Rang</th>
        <th class="align-middle rounded-0 border-bottom-0" rowspan="2">Juste ce village</th>
        <th class="align-middle border-bottom-0 rounded-0" colspan="4">Priorités</th>
        <th class="align-middle rounded-0 border-bottom-0" rowspan="2">Bénéficiaires</th>
        <th class="align-middle rounded-0 border-bottom-0" rowspan="2">Coût-estimé</th>
        <th class="align-middle rounded-0 border-bottom-0" rowspan="2">Financé par</th>
        <th class="align-middle rounded-0 border-bottom-0" rowspan="2">Contribution au climat</th>
        <th class="align-middle border-top-right-corner border-bottom-0" rowspan="2">Actions</th>
    </tr>
    <tr>
        <th class="bg-yellow rounded-0 border-sides-0 white-font">J</th>
        <th class="bg-blue rounded-0 border-sides-0 white-font">F</th>
        <th class="bg-orange rounded-0 border-sides-0 white-font">ME</th>
        <th class="bg-green rounded-0 border-sides-0 white-font">AE</th>
    </tr>
    </thead>
    <tbody>
    {% for investment in investments %}
        <tr>
            <td>{{ investment.ranking }}</td>
            <td class="border-sides--light">{{ investment.title }}</td>
            <td class="border-sides--light">
                {% if investment.endorsed_by_youth %}✓{% endif %}</td>
            <td class="border-sides--light">
                {% if investment.endorsed_by_women %}✓{% endif %}</td>
            <td class="border-sides--light">
                {% if investment.endorsed_by_pastoralist %}✓{% endif %}</td>
            <td class="border-sides--light">
                {% if investment.endorsed_by_agriculturist %}✓{% endif %}</td>
            <td class="border-sides--light">{{ investment.beneficiaries }}</td>
            <td class="border-sides--light">{{ investment.estimated_cost|intcomma }}</td>
            <td class="border-sides--light">{{ investment.responsible_structure }}</td>
            <td class="border-sides--light">{% if investment.climate_contribution %}{{ investment.climate_contribution_text }}{% else %}
                {% translate "No" %}{% endif %}</td>
            <td><i class="nav-icon fa fa-bars" data-toggle="modal" data-target="#exampleModal"></i></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}