{% extends 'layouts/base.html' %}
{% load static i18n humanize custom_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
    <style>
        .table th {
            padding: 5px 30px 0 30px;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.025);
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button aria-controls="collapseOne" aria-expanded="false" class="btn btn-link"
                                data-target="#collapseOne" data-toggle="collapse">
                            {% translate 'Choose filters' %}
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingOne" class="collapse show" id="collapseOne">
                    <form action="" method="POST" id="filter-form">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="sector-filter" style="width: 100%;">
                                                    <option selected value="">Sector</option>
                                                    {% for sector in sectors %}
                                                    <option value="{{ sector.id }}">{{ sector.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="type-filter" style="width: 100%;">
                                                    <option selected value="">{% translate 'Type' %}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="subpopulation-filter"
                                                        style="width: 100%;">
                                                    <option value=''>{% translate "Endorsed by" %}</option>
                                                    <option value="endorsed_by_youth">{% translate "Endorsed by youth" %}</option>
                                                    <option value="endorsed_by_women">{% translate "Endorsed by women" %}</option>
                                                    <option value="endorsed_by_agriculturist">{% translate "Endorsed by agriculturist" %}</option>
                                                    <option value="endorsed_by_pastoralist">{% translate "Endorsed by pastoralist" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="submit" class="btn btn-success" value="{% translate 'Apply' %}">
                                            <input type="button" class="btn btn-success submit-reset" value="{% translate 'Reset' %}"/>
                                            <input type="hidden" id="reset-hidden-id" name="reset-hidden" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingAdministrativeLevel">
                    <h5 class="mb-0">
                        <button aria-controls="collapseAdministrativeLevel" aria-expanded="false"
                                class="btn btn-link collapsed" data-target="#collapseAdministrativeLevel"
                                data-toggle="collapse">
                            {% translate 'Choose the Administrative level' %}
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingAdministrativeLevel" class="collapse show"
                     id="collapseAdministrativeLevel">
                    <form action="" method="POST" id="adm-filter-form">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="region-filter" style="width: 100%;">
                                                    <option selected value="">{% translate "Region" %}</option>
                                                    {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="commune-filter" style="width: 100%;">
                                                    <option selected value="">Commune</option>
                                                    {% for commune in communes %}
                                                    <option value="{{ commune.id }}">{{ commune.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="village-filter" style="width: 100%;">
                                                    <option selected value="">{% translate 'Village' %}</option>
                                                    {% for village in villages %}
                                                    <option value="{{ village.id }}">{{ village.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="prefecture-filter" style="width: 100%;">
                                                    <option selected value="">{% translate 'Prefecture' %}</option>
                                                    {% for prefecture in prefectures %}
                                                    <option value="{{ prefecture.id }}">{{ prefecture.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <select class="form-control" name="canton-filter" style="width: 100%;">
                                                    <option selected value="">{% translate 'Canton' %}</option>
                                                    {% for canton in cantons %}
                                                    <option value="{{ canton.id }}">{{ canton.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="submit" class="btn btn-success" value="{% translate 'Apply' %}">
                                            <input type="button" class="btn btn-success adm-submit-reset" value="{% translate 'Reset' %}"/>
                                            <input type="hidden" id="adm-reset-hidden-id" name="reset-hidden" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingColumns">
                    <h5 class="mb-0">
                        <button aria-controls="collapseColumns" aria-expanded="false" class="btn btn-link collapsed"
                                data-target="#collapseColumns" data-toggle="collapse">
                            {% translate 'Choose the columns to display' %}
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingColumns" class="collapse show" id="collapseColumns">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="1" id="customSwitchName" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchName">{% translate 'Name' %}</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="2" id="customSwitchSubproject" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchSubproject">{% translate 'Subproject type' %}</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="3" id="customSwitchEstimate" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchEstimate">{% translate 'Estimate cost' %}</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="4" id="customSwitchVillage" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchVillage">{% translate 'Village' %}</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="5" id="customSwitchCommunity" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchCommunity">{% translate 'Community' %}</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="6" id="customSwitchPrefecture" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchPrefecture">{% translate 'Prefecture' %}</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="7" id="customSwitchRegion" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchRegion">{% translate 'Region' %}</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="8" id="customSwitchVillagePriority" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchVillagePriority">{% translate 'Village priority' %}</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input checked class="custom-control-input column-switch"
                                                   data-column="9" id="customSwitchPopulation" type="checkbox">
                                            <label class="custom-control-label" for="customSwitchPopulation">{% translate 'Population priority' %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h6>{% translate 'Results' %}</h6>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">

                        {% for key, value in query_strings.items %}
                            <span class="filter-badge" style="font-size: 12px; line-height: 20px; display: inline-flex; align-items: center;">
                                <span class="filter-badge-label">{{ key }}: {{ value }}</span>
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-sm">{% translate '# Villages:' %}
                            <b class="d-block total-villages-display">0</b>
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="text-sm">{% translate '# Sub-projects:' %}
                            <b class="d-block total-subprojects-display">0</b>
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="text-sm">{% translate 'Total funding selected:' %}
                            <b class="d-block total-funding-display">0 FCFA</b>
                        </p>
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-success btn-sm pull-right" value="{% translate 'Add to Cart' %}" id="investments-submit" name="investments-submit">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="POST" id="investment-form" name="investments-form">
                    {% csrf_token %}
                    {% if investments.count == 0 %}
                        {% translate 'You have no investments' %}
                    {% else %}
                        <table class="table rounded-table table-striped">
                            <thead>
                            <th class="align-middle border-top-left-corner"><input class="" id="checkbox-select-all" type="checkbox" checked></th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Name' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Subproject type' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Estimate cost' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Village' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Community' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Prefecture' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Region' %}</th>
                            <th class="align-middle rounded-0 border-0">{% translate 'Village priority' %}</th>
                            <th class="align-middle border-top-right-corner border-bottom-0">{% translate 'Population priority' %}</th>
                            </thead>
                        <tbody>
                        {% for investment in object_list %}
                        <tr>
                            <td>
                                <input class="project-table-check" id="checkbox-{{ investment.id }}" value="{{ investment.id }}" type="checkbox" checked>
                            </td>
                            <td>{{ investment.title }}</td>
                            <td>{{ investment.administrative_level.type }}</td>
                            <td data-order="{{ investment.estimated_cost }}" data-search="{{ investment.estimated_cost }}">
                                {{ investment.estimated_cost|intcomma }} FCFA
                            </td>
                            <td>{{ investment.administrative_level.name }}</td>
                            <td>{{ investment.administrative_level.parent.name }}</td>
                            <td>{{ investment.administrative_level.parent.parent.name }}</td>
                            <td>{{ investment.administrative_level.parent.parent.parent.name }}</td>
                            <td>{{ investment.ranking }}</td>
                            <td>
                                {% if investment.endorsed_by_youth %}
                                J,
                                {% endif %}
                                {% if investment.endorsed_by_women %}
                                F,
                                {% endif %}
                                {% if investment.endorsed_by_agriculturist %}
                                AG,
                                {% endif %}
                                {% if investment.endorsed_by_pastoralist %}
                                PA
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <input type="hidden" id="investments-input-id" value="" name="investments">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/numeral.min.js' %}"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        var table = $(".table").DataTable();

        sum_subprojects();

        table.on('click', 'tr', function(){
            sum_subprojects();
        });

        $('#checkbox-select-all').on('change', function() {
            var select_all_state = $(this).is(':checked')
            table.rows().every( function ( rowIdx ) {
                $( this.node() ).first().find('input').prop('checked', select_all_state);
            } );
            sum_subprojects();
        });

        $('.column-switch').on('change', function (e) {

            // Get the column API object
            var column = table.column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });

        $('.submit-reset').on('click', function() {
            $('#reset-hidden-id').attr('value', 'true');
            $('#filter-form').submit();
        });

        $('.adm-submit-reset').on('click', function() {
            $('#adm-reset-hidden-id').attr('value', 'true');
            $('#adm-filter-form').submit();
        });

        function sum_subprojects() {
            let rows = table.rows()
            let villages = [];
            let funding = 0;
            let subprojects = 0;

             $('#investments-input-id').val('');

            table.rows().every( function ( rowIdx ) {
                let firstVal = $( this.node() ).first().find('input:checked').val();

                if (firstVal != undefined) {
                    let subproject_data = table.row( rowIdx ).data();
                    subprojects += 1;

                    $('#investments-input-id').val($('#investments-input-id').val() + ',' + firstVal);

                    funding = parseInt(funding) + parseInt(subproject_data[3]["@data-order"])

                    if (!villages.includes(subproject_data[4])) {
                        villages.push(subproject_data[4])
                    }
                }
            } );

            $('.total-funding-display').html(numeral(funding).format('0,0') + ' FCFA');
            $('.total-villages-display').html(numeral(villages.length).format('0,0'));
            $('.total-subprojects-display').html(numeral(subprojects).format('0,0'));

        };
    });

        // When the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Get the 'Add to Cart' button by ID
        var addToCartBtn = document.getElementById('investments-submit');

        // When the 'Add to Cart' button is clicked
        addToCartBtn.addEventListener('click', function () {
            // Submit the form with the ID 'investment-form'
            document.getElementById('investment-form').submit();
        });
    });
</script>
{% endblock %}