{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}


{% block content %}

<div class="row">
    <div class="col-12">

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingAdministrativeLevel">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAdministrativeLevel" aria-expanded="false" aria-controls="collapseAdministrativeLevel">
                  {% translate 'Choose the Administrative level' %}
                </button>
              </h5>
            </div>
            <div id="collapseAdministrativeLevel" class="collapse" aria-labelledby="headingAdministrativeLevel">
              <div class="card-body">
                  <div class="row">
                      <div class="col-9">
                          <div class="row">
                              <div class="col-4">
                                  <select class="custom-select">
                                      <option selected>Region</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingColumns">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseColumns" aria-expanded="false" aria-controls="collapseColumns">
                    {% translate 'Choose the columns to display' %}
                </button>
              </h5>
            </div>
            <div id="collapseColumns" class="collapse" aria-labelledby="headingColumns">
              <div class="card-body">
                  <div class="row">
                      <div class="col-9">
                          <div class="row">
                              <div class="col-4">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchName" data-column="1" checked>
                                  <label class="custom-control-label" for="customSwitchName">{% translate 'Name' %}</label>
                                </div>
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchSubproject" data-column="2" checked>
                                  <label class="custom-control-label" for="customSwitchSubproject">{% translate 'Subproject type' %}</label>
                                </div>
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchEstimate" data-column="3" checked>
                                  <label class="custom-control-label" for="customSwitchEstimate">{% translate 'Estimate cost' %}</label>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchVillage" data-column="4" checked>
                                  <label class="custom-control-label" for="customSwitchVillage">{% translate 'Village' %}</label>
                                </div>
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchCommunity" data-column="5" checked>
                                  <label class="custom-control-label" for="customSwitchCommunity">{% translate 'Community' %}</label>
                                </div>
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchPrefecture" data-column="6" checked>
                                  <label class="custom-control-label" for="customSwitchPrefecture">{% translate 'Prefecture' %}</label>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchRegion" data-column="7" checked>
                                  <label class="custom-control-label" for="customSwitchRegion">{% translate 'Region' %}</label>
                                </div>
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchVillagePriority" data-column="8" checked>
                                  <label class="custom-control-label" for="customSwitchVillagePriority">{% translate 'Village priority' %}</label>
                                </div>
                                <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input column-switch" id="customSwitchPopulation" data-column="9" checked>
                                  <label class="custom-control-label" for="customSwitchPopulation">{% translate 'Population priority' %}</label>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table datatable display" style="100%">
            <thead>
                <th></th>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Subproject type' %}</th>
                <th>{% translate 'Estimate cost' %}</th>
                <th>{% translate 'Village' %}</th>
                <th>{% translate 'Community' %}</th>
                <th>{% translate 'Prefecture' %}</th>
                <th>{% translate 'Region' %}</th>
                <th>{% translate 'Village priority' %}</th>
                <th>{% translate 'Population priority' %}</th>
            </thead>
            <tbody>
            {% for investment in object_list %}
                <tr>
                    <td><input type="checkbox" class="form-check-input" id="{{ investment.id }}"></td>
                    <td>{{ investment.title }}</td>
                    <td>{{ investment.administrative_level.type }}</td>
                    <td>{{ investment.estimated_cost }}</td>
                    <td>{{ investment.administrative_level.name }}</td>
                    <td>{{ investment.administrative_level.parent.name }}</td>
                    <td>{{ investment.administrative_level.parent.parent.name }}</td>
                    <td>{{ investment.administrative_level.parent.parent.parent.name }}</td>
                    <td>{{ investment.administrative_level.rank }}</td>
                    <td>
                        {% if investment.endorsed_by_youth %}
                            J,
                        {% endif %}
                        {% if investment.endorsed_by_women %}
                            F,
                        {% endif %}
                        {% if investment.endorsed_by_agriculturist %}
                            AG,
                        {% endif %}
                        {% if investment.endorsed_by_pastoralist %}
                            PA
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $( document ).ready(function() {
        var table = $(".datatable").DataTable();

        $('.column-switch').on('change', function (e) {

            // Get the column API object
            var column = table.column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });
    });
</script>
{% endblock %}