{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="clearfix"></div>
            <div class="row administrative-level-filter">
                <div class="col-2">
                    {% bootstrap_field form_adl.region show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.prefecture show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.commune show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.canton show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.village show_label=False %}
                </div>
                <div class="col-2">
                    <a class="btn fs12 text-bold-family text-primary pull-right p-0" style="margin-top: 8px;"
                        id="clear_all_filters">
                        {% translate "Clear all filters" %}
                    </a>
                </div>
            </div>





            <div class="card">


                <div class="container">
                    <ul class="nav nav-tabs">
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link active" data-toggle="tab" href="#Project-coverage">{% translate "Project coverage" %}</a></li>
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link" data-toggle="tab" href="#Investment-cycle-deployment-time">{% translate "Investment cycle deployment time" %}</a></li>
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link" data-toggle="tab" href="#Summary-of-locations-reached">{% translate "Summary of locations reached" %}</a></li>
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link" data-toggle="tab" href="#Allocation-tab">{% translate "Allocation" %}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Project-coverage" class="tab-pane active">
                            <div class="card">
                                <div class="card-body">
                                    <div id="waves-list">
                                        <h3>{% translate "Project coverage" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="waves-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>


                        <div id="Investment-cycle-deployment-time" class="tab-pane fade">
                            <div class="card">
                                <div class="card-body">
                                    <div id="waves-times-list">
                                        <h3>{% translate "Investment cycle deployment time" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="waves-times-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>


                        <div id="Summary-of-locations-reached" class="tab-pane fade">
                            <div class="card">
                                <div class="card-body">
                                    <div id="summary-adl-number-list">
                                        <h3>{% translate "Summary of locations reached" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="summary-adl-number-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>


                        <div id="Allocation-tab" class="tab-pane fade">
                            <div class="card">
                                <div class="card-body">
                                    <div id="summary-allocation-list">
                                        <h3>{% translate "Allocation" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="summary-allocation-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>



                    
            </div>







            {% comment %} <div class="card">
                <div class="card-body table-responsive">
                    <div id="waves-times-list">
                        <h3>{% translate "Project coverage" %}</h3>
                    </div>
                </div>
                <div class="overlay" id="waves-times-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>


            <div class="card">
                <div class="card-body table-responsive">
                    <div id="summary-adl-number-list">
                        <h3>{% translate "Summary of locations reached" %}</h3>
                    </div>
                </div>
                <div class="overlay" id="summary-adl-number-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>


            <div class="card">
                <div class="card-body table-responsive">
                    <div id="summary-allocation-list">
                        <h3>{% translate "Allocation" %}</h3>
                    </div>
                </div>
                <div class="overlay" id="summary-allocation-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div> {% endcomment %}


            {% comment %} <div class="card">
                <div class="card-body">

                </div>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}
            let administrative_level_ids = ["id_region", "id_prefecture", "id_commune", "id_canton", "id_village"];
            let waves_spin = $('#waves-spin');
            let waves_number = $('#waves-list');
            let waves_times_spin = $('#waves-times-spin');
            let waves_times_number = $('#waves-times-list');
            let summary_adl_number_spin = $('#summary-adl-number-spin');
            let summary_adl_number = $('#summary-adl-number-list');
            let summary_allocation_spin = $('#summary-allocation-spin');
            let summary_allocation = $('#summary-allocation-list');
            var administrative_level_id = null;
            var administrative_level_type = null;




            function loadWaves(administrative_level_id=null, administrative_level_type=null) {
                waves_spin.show();
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:dashboard_waves' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type
                    },
                    success: function (response) {
                        waves_spin.hide();
                        
                        waves_number.html(response);
                    },
                    error: function (data) {
                        waves_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }

            function loadWavesTimes(administrative_level_id=null, administrative_level_type=null) {
                waves_times_spin.show();
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:dashboard_waves_times' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type
                    },
                    success: function (response) {
                        waves_times_spin.hide();
                        
                        waves_times_number.html(response);
                    },
                    error: function (data) {
                        waves_times_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }

            function loadSummaryAdministrativeLevels(administrative_level_id=null, administrative_level_type=null) {
                summary_adl_number_spin.show();
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:dashboard_summary_administrativel_levels_number' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type
                    },
                    success: function (response) {
                        summary_adl_number_spin.hide();
                        
                        summary_adl_number.html(response);
                    },
                    error: function (data) {
                        summary_adl_number_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }

            function loadSummaryAllocation(administrative_level_id=null, administrative_level_type=null) {
                summary_allocation_spin.show();
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:dashboard_summary_allocation' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type
                    },
                    success: function (response) {
                        summary_allocation_spin.hide();
                        
                        summary_allocation.html(response);
                    },
                    error: function (data) {
                        summary_allocation_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }

            
            loadWaves();
            loadWavesTimes();
            loadSummaryAdministrativeLevels();
            loadSummaryAllocation();
            
            $('.administrative-level-filter select').on('change', function () {
                let elt_id;
                for(let i=0; i<administrative_level_ids.length; i++){
                    elt_id = administrative_level_ids[i];
                    if($(this).attr('id') != elt_id) $(`#${elt_id}`).val(null).trigger('change.select2');
                }
                administrative_level_id = null;
                administrative_level_type = null;
                if($(this).attr('id') && $(this).val()){
                    administrative_level_type = $(this).attr('id').split('_')[1];
                    administrative_level_id = $(this).val();
                }
                loadWaves(administrative_level_id, administrative_level_type);
                loadWavesTimes(administrative_level_id, administrative_level_type);
                loadSummaryAdministrativeLevels(administrative_level_id, administrative_level_type);
                loadSummaryAllocation(administrative_level_id, administrative_level_type);
            });



            $("#clear_all_filters").on("click", function () {
                $('.administrative-level-filter input').val('');
                $('.administrative-level-filter select').val(null).trigger('change.select2');
                loadWaves();
                loadWavesTimes();
                loadSummaryAdministrativeLevels();
                loadSummaryAllocation();
            }); 


        });
    </script>
{% endblock %}



{% block select2 %}
    <script type="text/javascript">
        $("#id_region").select2({
            placeholder: "{% translate 'Region' %}",
            allowClear: true
        });
        $("#id_prefecture").select2({
            placeholder: "{% translate 'Prefecture' %}",
            allowClear: true,
        });
        $("#id_commune").select2({
            placeholder: "{% translate 'Commune' %}",
            allowClear: true,
        });
         $("#id_canton").select2({
            placeholder: "{% translate 'Canton' %}",
            allowClear: true,
        });
         $("#id_village").select2({
            placeholder: "{% translate 'Village' %}",
            allowClear: true,
        });

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>
{% endblock select2 %}