{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block extracss %}
    {{ block.super }}
    <link href="{% static 'plugins/mapbox-gl-js/v2.6.1/mapbox-gl.css' %}" rel="stylesheet">
    <style>
        .card { margin-bottom: 10px; }
        .pie-chart { max-width: 220px; max-height: 220px; width: 100%; height: auto; }
        .flex-container { display: flex; justify-content: space-between; align-items: center; }
        .legend { display: flex; flex-direction: column; align-items: flex-start; list-style: none; padding: 0; margin: 0; }
        .legend-item { display: flex; align-items: center; margin-bottom: 5px; cursor: pointer; }
        .legend-color { display: inline-block; width: 12px; height: 12px; margin-right: 5px; }
        .card-title-container { display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%; }
        .card-body-horizontal { display: flex; align-items: center; justify-content: space-between; }
        .form-group { margin-bottom: 5px; }
        .horizontal-form { display: flex; flex-wrap: nowrap; gap: 10px; align-items: center; }
        .horizontal-form .form-group { flex: 1; min-width: 100px; }
        .horizontal-form .btn { flex: none; }
        .card-Administrative, .card-status { border: none; }
        .nav-pills .nav-link { color: inherit; background-color: inherit; }
        .card-map { min-height: 800px; min-width: 350px; overflow: hidden; position: relative; }
        #map { position: absolute; top: 0; left: 0; right: 0; height: 100%; width: 100%; }
        .marker { display: block; border: none; border-radius: 50%; cursor: pointer; width: 20px; height: 20px; transform: translate(-50%, -50%); }
        .mapboxgl-popup-content { min-width: 200px; min-height: 100px; }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row filter-group">
            <div class="col-9">
                <div class="card card-Administrative rounded-0">
                    <div aria-labelledby="headingAdministrativeLevel" class="collapse show" id="collapseAdministrativeLevel">
                        <form action="" method="GET" id="adm-filter-form">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="horizontal-form">
                                    <div class="form-group">
                                        <label for="organization-select-id">{% translate 'Sector' %}</label>
                                        <select class="form-control" name="sector-filter" id="sector-select-id" style="width: 100%;">
                                            <option selected value="">{% translate 'Sector' %}</option>
                                            {% for sector in sectors %}
                                                <option value="{{ sector.id }}">{{ sector.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="organization-select-id">{% translate 'Type' %}</label>
                                        <select
                                            class="form-control"
                                            name="type-filter"
                                            id="type-select-id"
                                            style="width: 100%;"

                                        >
                                            <option selected value="">{% translate 'Type' %}</option>
                                            {% for type in sector_types %}
                                                <option value="{{ type.0 }}">{{ type.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="organization-select-id">{% translate 'Organization' %}</label>
                                        <select class="form-control" name="organization-filter" id="organization-select-id" style="width: 100%;">
                                            <option selected value="">{% translate 'Organization' %}</option>
                                            {% for organization in organizations %}
                                                <option value="{{ organization.id }}">{{ organization.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="region-select-id">{% translate 'Region' %}</label>
                                        <select class="form-control" name="region-filter" empty-option="{% translate 'Region' %}" style="width: 100%;" id="region-select-id">
                                            <option selected value="">{% translate 'Region' %}</option>
                                            {% for region in regions %}
                                                <option value="{{ region.id }}" {% if query_strings_raw|get_item:'region-filter' == region.id %}selected{% endif %}>{{ region.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="horizontal-form">
                                    <div class="form-group">
                                        <label for="prefecture-select-id">{% translate 'Prefecture' %}</label>
                                        <select class="form-control" name="prefecture-filter" id="prefecture-select-id" empty-option="{% translate 'Prefecture' %}" style="width: 100%;" {% if not 'region-filter' in query_strings_raw %}disabled{% endif %}>
                                            <option selected value="">{% translate 'Prefecture' %}</option>
                                            {% for prefecture in prefectures %}
                                                <option value="{{ prefecture.id }}" {% if query_strings_raw|get_item:'prefecture-filter' == prefecture.id %}selected{% endif %}>{{ prefecture.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="commune-select-id">{% translate 'Commune' %}</label>
                                        <select class="form-control" name="commune-filter" id="commune-select-id" empty-option="{% translate 'Commune' %}" style="width: 100%;" {% if not 'prefecture-filter' in query_strings_raw %}disabled{% endif %}>
                                            <option selected value="">{% translate 'Commune' %}</option>
                                            {% for commune in communes %}
                                                <option value="{{ commune.id }}" {% if query_strings_raw|get_item:'commune-filter' == commune.id %}selected{% endif %}>{{ commune.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="canton-select-id">{% translate 'Canton' %}</label>
                                        <select class="form-control" name="canton-filter" id="canton-select-id" empty-option="{% translate 'Canton' %}" style="width: 100%;" {% if not 'commune-filter' in query_strings_raw %}disabled{% endif %}>
                                            <option selected value="">{% translate 'Canton' %}</option>
                                            {% for canton in cantons %}
                                                <option value="{{ canton.id }}" {% if query_strings_raw|get_item:'canton-filter' == canton.id %}selected{% endif %}>{{ canton.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="village-select-id">{% translate 'Village' %}</label>
                                        <select class="form-control" name="village-filter" id="village-select-id" empty-option="{% translate 'Village' %}" style="width: 100%;" {% if not 'canton-filter' in query_strings_raw %}disabled{% endif %}>
                                            <option selected value="">{% translate 'Village' %}</option>
                                            {% for village in villages %}
                                                <option value="{{ village.id }}" {% if query_strings_raw|get_item:'village-filter' == village.id %}selected{% endif %}>{{ village.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="horizontal-form">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-link adm-submit-reset mt-4" value="{% translate 'Reset' %}" id="adm-reset-hidden-id" style="margin-bottom: 3px;"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-status rounded-0">
                    <div class="card-body">
                        <form action="" method="GET" id="status-filter-form">
                            {% csrf_token %}
                            <div class="horizontal-form">
                                <div class="form-group">
                                    <label for="project-status-select-id">{% translate 'Sub-Project Status' %}</label>
                                    <select class="form-control" name="project-status-filter" id="project-status-select-id" style="width: 100%;">
                                        <option selected value="">{% translate 'All Statuses' %}</option>
                                        {% for status in project_statuses %}
                                            <option value="{{ status.0 }}" {% if query_strings_raw|get_item:'project-status-filter' == status.0 %}selected{% endif %}>{{ status.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-3 d-flex flex-column">
                <div class="card count-card flex-fill mb-3" style="position: relative;">
                    <div class="card-body">
                        <div class="col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-richtext" viewBox="0 0 16 16">
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                                <path d="M4.5 12.5A.5.5 0 0 1 5 12h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m0-2A.5.5 0 0 1 5 10h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m1.639-3.708 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V8.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V8s1.54-1.274 1.639-1.208M6.25 6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5"/>
                            </svg>
                            <h5 class="card-title mt-3" style="font-size: 15px;">{% translate "Total Sub-Project Priorities" %}</h5>
                        </div>
                        <h2 class="card-text mx-5 mb-3" id="total-investments" style="position: absolute; bottom: 10px; right: 10px; font-size: 30px;">0</h2>
                    </div>
                </div>
                <div class="card count-card flex-fill mb-3" style="position: relative;">
                    <div class="card-body">
                        <div class="col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-houses-fill" viewBox="0 0 16 16">
                              <path d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.5 2.5 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z"/>
                              <path d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z"/>
                            </svg>
                            <h5 class="card-title mt-3" style="font-size: 15px;">{% translate 'Total Selected Sub-Projects' %}</h5>
                        </div>
                        <h2 class="card-text mx-5 mb-3" id="total-subprojects" style="position: absolute; bottom: 10px; right: 10px; font-size: 30px;">0</h2>
                    </div>
                </div>
                <div class="card count-card flex-fill mb-3" style="position: relative;">
                    <div class="card-body">
                        <div class="col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                              <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                            </svg>
                            <h5 class="card-title mt-3" style="font-size: 15px;">{% translate 'Completed Sub-Projects' %}</h5>
                        </div>
                        <h2 class="card-text mx-5 mb-3" id="total-completed-infrastructure" style="position: absolute; bottom: 10px; right: 10px; font-size: 30px;">0</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-5 d-flex flex-column">
                <div class="card flex-fill mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h6 class="card-title py-0">Nombre de priorités par secteurs</h6>
                            </div>
                            <div id="noDataMessage" class="col-12 mt-3 mb-5" style="display: none; font-size:30px; ">
                                <p class="text-center mt-5" style="font-size:20px; ">Priorités non encore identifié dans ce village</p>
                            </div>
                            <div class="col-6 mt-5">
                                <ul id="prioritiesLegend" class="legend"></ul>
                            </div>
                            <div class="col-6 mt-3">
                                <canvas id="prioritiesChart" class="pie-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flex-fill mb-3 subpopulations">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h6 class="card-title py-0">Nombres de sous-projets par groupes minoritaires</h6>
                            </div>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item ml-4 mr-2" role="presentation">
                                    <button class="nav-link active own-bg-green-color" id="pills-agriculturist-tab" data-toggle="pill" data-target="#pills-agriculturist" type="button" role="tab" aria-controls="pills-agriculturist" aria-selected="true">{% translate 'agriculturist' %}</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link own-bg-green-color" id="pills-women-tab" data-toggle="pill" data-target="#pills-women" type="button" role="tab" aria-controls="pills-women" aria-selected="false">{% translate 'women' %}</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link own-bg-green-color mx-2" id="pills-youth-tab" data-toggle="pill" data-target="#pills-youth" type="button" role="tab" aria-controls="pills-youth" aria-selected="false">{% translate 'youth' %}</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link own-bg-green-color" id="pills-ethnic-minorities-tab" data-toggle="pill" data-target="#pills-ethnic-minorities" type="button" role="tab" aria-controls="pills-ethnic-minorities" aria-selected="false">{% translate 'ethnic minorities' %}</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active ml-2" id="pills-agriculturist" role="tabpanel" aria-labelledby="pills-agriculturist-tab">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <p id="noDataMessageAgriculturist" class="text-center" style="display: none; font-size: 20px;">Pas encore de sous projet pour les Agriculteurs</p>
                                        </div>
                                        <div class="col-6 mt-5">
                                            <ul id="agriculturistLegend" class="legend"></ul>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <canvas id="agriculturistChart" class="pie-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade ml-2" id="pills-women" role="tabpanel" aria-labelledby="pills-women-tab">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <p id="noDataMessageWomen" class="text-center" style="display: none; font-size: 20px;">Pas encore de sous projet pour les Femmes</p>
                                        </div>
                                        <div class="col-6 mt-5">
                                            <ul id="womenLegend" class="legend"></ul>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <canvas id="womenChart" class="pie-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade ml-2" id="pills-youth" role="tabpanel" aria-labelledby="pills-youth-tab">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <p id="noDataMessageYouth" class="text-center" style="display: none; font-size: 20px;">Pas encore de sous projet pour les Jeunes</p>
                                        </div>
                                        <div class="col-6 mt-5">
                                            <ul id="youthLegend" class="legend"></ul>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <canvas id="youthChart" class="pie-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade ml-2" id="pills-ethnic-minorities" role="tabpanel" aria-labelledby="pills-ethnic-minorities-tab">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <p id="noDataMessageEthnicMinorities" class="text-center" style="display: none; font-size: 20px;">Pas encore de sous projet pour les Minorités ethniques</p>
                                        </div>
                                        <div class="col-6 mt-5">
                                            <ul id="ethnicMinoritiesLegend" class="legend"></ul>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <canvas id="ethnicMinoritiesChart" class="pie-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Sous-projets par secteurs et location</h5>
                        <div class="card-map">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'plugins/mapbox-gl-js/v2.6.1/mapbox-gl.js' %}"></script>
    <script type="text/javascript">
        let markers = [];
        let filter_values = {}
        const sectorColors = {};
        let allSubprojects = [];

        function initializeMap() {
            mapboxgl.accessToken = '{{ access_token }}';
            if (!mapboxgl.supported()) {
                alert('Your browser does not support Mapbox GL');
            }
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [{{ lng }}, {{ lat }}],
                zoom: {{ zoom }},
                collectResourceTiming: false
            });

            const bounds = [
                {{ ws_bound }}, // [west, south]
                {{ en_bound }}  // [east, north]
            ];
            map.setMaxBounds(bounds);
            map.addControl(new mapboxgl.NavigationControl());
            map.on('load', function () {
                map.addLayer(
                    {
                        'id': 'country-boundaries',
                        'source': {
                            'type': 'vector',
                            'url': 'mapbox://mapbox.country-boundaries-v1',
                        },
                        'source-layer': 'country_boundaries',
                        'type': 'fill',
                        'paint': {
                            'fill-color': '#00FFFF',
                            'fill-opacity': 0.2,
                        },
                    },
                    'country-label'
                );

                map.setFilter('country-boundaries', [
                    "in",
                    "iso_3166_1_alpha_3",
                    '{{ country_iso_code }}',
                ]);
            });

            return map;
        }

        function updateMap(map, subprojects, filterSector = null) {
            markers.forEach(marker => marker.remove());
            markers = [];

            subprojects.forEach((subproject, index) => {
                if ((filterSector === null || subproject.sector__category__name === filterSector) &&
                    subproject.latitude && subproject.longitude) {
                    const sectorColor = sectorColors[subproject.sector__category__name] || getRandomColor();
                    // const markerElement = createCustomMarker(sectorColor);
                    const offset = calculateOffset(index);
                    const marker = new mapboxgl.Marker({
                        color: sectorColor,
                        draggable: false,
                        offset: [offset.x, offset.y]
                    })
                    .setLngLat([subproject.longitude, subproject.latitude])
                    .setPopup(new mapboxgl.Popup({ offset: 20 }).setHTML(`
                            <h3 class="popover-header">${subproject.administrative_level__name}</h3>
                            <div class="popover-body">
                               <h6> <strong> {% translate 'Sector' %}</strong> : ${subproject.sector__category__name}</h6>
                               <h6> <strong> {% translate 'Physical rate' %}</strong> : ${subproject.physical_execution_rate}%</h6>
                            </div>
                    `));

                    marker.addTo(map);
                    markers.push(marker);
                }
            });
        }

        function createCustomMarker(color) {
            const marker = document.createElement('div');
            marker.className = 'marker';
            marker.style.backgroundColor = color;
            return marker;
        }

        function calculateOffset(index) {
            const angle = index * 30; // Adjust the angle increment as needed
            const radius = 10; // Adjust the radius as needed
            return {
                x: radius * Math.cos(angle),
                y: radius * Math.sin(angle)
            };
        }

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $(document).ready(function() {
            const map = initializeMap();

            const statisticsComponent = new StatisticsComponent(map);
            initializeDashboard(statisticsComponent);

            const regionOptions = $('#region-select-id').html();

            $('#adm-reset-hidden-id').on('click', function() {
                resetFilters(regionOptions, statisticsComponent);
            });

            statisticsComponent.fetchAndDisplayStatistics();
        });

        function initializeDashboard(statisticsComponent) {
            ['region', 'prefecture', 'commune', 'canton', 'village'].forEach(level => {
                $(`#${level}-select-id`).on('change', debounce(function() {
                    const selectedValue = $(this).val();
                    const nextLevel = getNextLevel(level);
                    if (level !== 'village') {
                        changeAdmLevelsSelects($(this), $(`#${nextLevel}-select-id`), getFollowingLevels(nextLevel));
                    }
                    filter_values[`${level}_id`] = selectedValue
                    statisticsComponent.fetchAndDisplayStatistics();
                }, 300)); // Debouncing to prevent rapid consecutive calls
            });

            $('#project-status-select-id').on('change', function() {
                filter_values['project-status-filter'] = $(this).val();
                statisticsComponent.fetchAndDisplayStatistics();
            });

            $('#organization-select-id').on('change', function() {
                filter_values['organization'] = $(this).val();
                statisticsComponent.fetchAndDisplayStatistics();
            });

            $('#sector-select-id').on('change', function() {
                filter_values['sector'] = $(this).val();
                filter_values['type'] = null;
                statisticsComponent.fetchAndDisplayStatistics();
            });

            $('#type-select-id').on('change', function() {
                filter_values['type'] = $(this).val();
                statisticsComponent.fetchAndDisplayStatistics();
            });

            function getNextLevel(level) {
                const levels = ['region', 'prefecture', 'commune', 'canton', 'village'];
                const currentIndex = levels.indexOf(level);
                return levels[currentIndex + 1] || '';
            }

            function getFollowingLevels(level) {
                const levels = ['region', 'prefecture', 'commune', 'canton', 'village'];
                const currentIndex = levels.indexOf(level);
                return levels.slice(currentIndex + 1).map(lvl => $(`#${lvl}-select-id`));
            }

            function changeAdmLevelsSelects(selectInput, selectToFill, otherSelects) {
                const selectedValue = selectInput.find(":selected").val();

                if (selectedValue) {
                    const baseUrl = window.location.href.split('?')[0];
                    $.ajax({
                        type: "POST",
                        url: `${baseUrl}ajax/adm-levels`,
                        data: {
                            value: selectedValue,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function(response) {
                            populateSelectOptions(selectToFill, response.values);
                        },
                        error: function() {
                            alert('Failed to fetch administrative levels. Please try again.');
                        }
                    });
                    selectToFill.prop('disabled', false);
                } else {
                    resetSelect(selectToFill);
                }

                if (selectInput.attr('id') !== 'village-select-id') {
                    otherSelects.forEach(resetSelect);
                }
            }

            function populateSelectOptions(selectElement, options) {
                selectElement.html("<option selected value=''>" + selectElement.attr('empty-option') + "</option>");
                options.forEach(option => {
                    selectElement.append(`<option value='${option.id}'>${option.name}</option>`);
                });
            }

            function resetSelect(selectElement) {
                selectElement.prop('disabled', true);
                selectElement.html("<option selected value=''>" + selectElement.attr('empty-option') + "</option>");
            }
        }

        function resetFilters(regionOptions, statisticsComponent) {
            const form = $('#adm-filter-form')[0];
            filter_values = {};
            form.reset();

            ['prefecture', 'commune', 'canton', 'village'].forEach(level => {
                const selectElement = $(`#${level}-select-id`);
                resetSelect(selectElement);
            });

            const regionSelect = $('#region-select-id');
            regionSelect.prop('disabled', false).html(regionOptions);

            // Reset the "Project Status" select
            const projectStatusSelect = $('#project-status-select-id');
            projectStatusSelect.val('').change();

            // Reset the "Project Organizations" select
            const projectOrganizationsSelect = $('#organization-select-id');
            projectOrganizationsSelect.val('').change();

            statisticsComponent.fetchAndDisplayStatistics();
        }

        function resetSelect(selectElement) {
            selectElement.prop('disabled', true);
            selectElement.html("<option selected value=''>" + selectElement.attr('empty-option') + "</option>");
        }

        class StatisticsComponent {
            constructor(map) {
                this.map = map;
                this.totalInvestmentsElement = $('#total-investments');
                this.totalSubprojectsElement = $('#total-subprojects');
                this.totalCompletedInfrastructureElement = $('#total-completed-infrastructure');
                this.typeSelect = $('#type-select-id');
                this.prioritiesChart = null;
                this.minorityCharts = {
                    'endorsed_by_agriculturist': {chart: null, legendId: 'agriculturistLegend', canvasId: 'agriculturistChart', noDataMessageId: 'noDataMessageAgriculturist'},
                    'endorsed_by_women': {chart: null, legendId: 'womenLegend', canvasId: 'womenChart', noDataMessageId: 'noDataMessageWomen'},
                    'endorsed_by_youth': {chart: null, legendId: 'youthLegend', canvasId: 'youthChart', noDataMessageId: 'noDataMessageYouth'},
                    'endorsed_by_pastoralist': {chart: null, legendId: 'ethnicMinoritiesLegend', canvasId: 'ethnicMinoritiesChart', noDataMessageId: 'noDataMessageEthnicMinorities'}
                };
            }

            fetchAndDisplayStatistics() {
                const baseUrl = window.location.href.split('?')[0];
                const requestUrl = `${baseUrl}ajax/statistics`;



                $.ajax({
                    url: requestUrl,
                    data: filter_values,
                    success: (data) => {
                        console.log('Response data:', data);  // Log the full response

                        // Update DOM elements with data
                        this.totalInvestmentsElement.text(data.total_investments);
                        this.totalSubprojectsElement.text(data.total_subprojects + '/' + data.total_investments);
                        this.totalCompletedInfrastructureElement.text(data.total_completed_infrastructure + '/' + data.total_subprojects);
                        this.updatePrioritiesChart(data.sector_priorities);
                        this.updateMinorityCharts(data.subprojects_by_sector_and_group);
                        if (data.sector_types && data.sector_types.length > 0) {
                            // enable typeSelect and populate it with the fetched data
                            var current_value = this.typeSelect.val();
                            this.typeSelect.prop('disabled', false);
                            this.typeSelect.html('');
                            this.typeSelect.append(`<option value="0">-------</option>`)
                            data.sector_types.forEach(type => {
                                if (current_value == type.id) {
                                    this.typeSelect.append(`<option value="${type.id}" selected>${type.name}</option>`);
                                } else {
                                    this.typeSelect.append(`<option value="${type.id}">${type.name}</option>`);
                                }
                            });
                        } else {
                            // disable typeSelect if no data is fetched
                            this.typeSelect.prop('disabled', true);
                        }
                        allSubprojects = data.subprojects;
                        // Uncomment if needed: updateMap(this.map, data.subprojects, filter_values['sector-filter']);
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                        console.error('Error fetching statistics:', {
                            status: jqXHR.status,
                            statusText: jqXHR.statusText,
                            responseText: jqXHR.responseText,
                            errorThrown: errorThrown,
                            textStatus: textStatus
                        });

                        alert('Failed to fetch statistics. Please check the console for more details.');
                    }
                }).fail((jqXHR, textStatus, errorThrown) => {
                    console.error('Request failed:', {
                        status: jqXHR.status,
                        statusText: jqXHR.statusText,
                        responseText: jqXHR.responseText,
                        errorThrown: errorThrown,
                        textStatus: textStatus
                    });

                    alert(`Failed to fetch statistics. Status: ${jqXHR.status}, Error: ${textStatus}`);
                });
            }

            updatePrioritiesChart(sectorPriorities) {
                const labels = sectorPriorities.map(item => item.sector__category__name);
                const data = sectorPriorities.map(item => item.total);

                labels.forEach((label, index) => {
                    if (!sectorColors[label]) {
                        sectorColors[label] = getRandomColor();
                    }
                });

                const backgroundColor = labels.map(label => sectorColors[label]);

                const chartData = {
                    datasets: [{
                        data: data,
                        backgroundColor: backgroundColor
                    }],
                    labels: labels
                };

                if (data.length === 0) {
                    $('#prioritiesChart').hide();
                    $('#prioritiesLegend').hide();
                    $('#noDataMessage').show();
                } else {
                    $('#prioritiesChart').show();
                    $('#prioritiesLegend').show();
                    $('#noDataMessage').hide();

                    if (this.prioritiesChart) {
                        this.prioritiesChart.data = chartData;
                        this.prioritiesChart.update();
                    } else {
                        const ctx = document.getElementById('prioritiesChart').getContext('2d');
                        this.prioritiesChart = new Chart(ctx, {
                            type: 'pie',
                            data: chartData,
                            options: {
                                plugins: {
                                    legend: {
                                        display: false
                                    }
                                }
                            }
                        });
                    }
                    createLegend('prioritiesLegend', chartData, this);
                }
            }

            updateMinorityCharts(subprojectsBySectorAndGroup) {
                for (const group in subprojectsBySectorAndGroup) {
                    const labels = subprojectsBySectorAndGroup[group].map(item => item.sector__category__name);
                    const data = subprojectsBySectorAndGroup[group].map(item => item.total);

                    const backgroundColor = labels.map(label => sectorColors[label]);

                    const chartData = {
                        datasets: [{
                            data: data,
                            backgroundColor: backgroundColor
                        }],
                        labels: labels
                    };

                    const chartInfo = this.minorityCharts[group];
                    const ctx = document.getElementById(chartInfo.canvasId).getContext('2d');

                    if (chartData.datasets[0].data.length === 0) {
                        $(`#${chartInfo.canvasId}`).hide();
                        $(`#${chartInfo.legendId}`).hide();
                        $(`#${chartInfo.noDataMessageId}`).show();
                    } else {
                        $(`#${chartInfo.canvasId}`).show();
                        $(`#${chartInfo.legendId}`).show();
                        $(`#${chartInfo.noDataMessageId}`).hide();

                        if (chartInfo.chart) {
                            chartInfo.chart.data = chartData;
                            chartInfo.chart.update();
                        } else {
                            chartInfo.chart = new Chart(ctx, {
                                type: 'pie',
                                data: chartData,
                                options: {
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    }
                                }
                            });
                        }
                        createLegend(chartInfo.legendId, chartData, this);
                    }
                }
            }
        }

        function createLegend(legendId, data, statisticsComponent) {
            const legend = document.getElementById(legendId);
            if (legend) {
                legend.innerHTML = '';
                data.datasets[0].data.forEach((value, index) => {
                    const legendItem = document.createElement('li');
                    legendItem.className = 'legend-item';
                    legendItem.innerHTML = `
                        <span class="legend-color" style="background-color: ${data.datasets[0].backgroundColor[index]}"></span>
                        ${data.labels[index]}: ${value}
                    `;
                    legendItem.addEventListener('click', function() {
                        const selectedSector = data.labels[index];
                        {#updateMap(statisticsComponent.map, allSubprojects, selectedSector);#}
                    });
                    legend.appendChild(legendItem);
                });
            }
        }

        function debounce(func, wait) {
            let timeout;
            return function() {
                const context = this, args = arguments;
                const later = function() {
                    timeout = null;
                    func.apply(context, args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }
    </script>
{% endblock %}
