{% load i18n %}

<!-- Button modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload-csv-file">
    <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> {% translate 'Load file' %}
</button>

<!-- Modal -->
<div class="modal fade" id="upload-csv-file" tabindex="-1" role="dialog"
    aria-labelledby="UploadTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <form method="post" enctype="multipart/form-data"
                action="{% url 'administrativelevels:upload' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        {% translate 'Upload CSV file' %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="file-field big">
                        <a class="btn-floating btn-lg amber darken-2 mt-0 float-left">
                            <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                            <input type="file" name="file" required 
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </a>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        style="display: inline-block !important;">{% translate 'Close' %}</button>
                    <button type="submit" class="btn btn-primary" style="display: inline-block !important;">
                        {% translate 'Upload' %}
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>
<!-- End Modal -->