{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            <a class="btn btn-primary" href="{% url 'subprojects:list' %}">{% translate 'List Subprojects' %}</a>
                        </div>
                        <div class="btn-group pull-right">
                            {% if object.pk %}
                            <a class="btn btn-primary" 
                                {% if object.link_to_subproject %}
                                href="{% url 'subprojects:detail' object.link_to_subproject.pk %}"
                                {% else %}
                                href="{% url 'subprojects:detail' object.pk %}"
                                {% endif %}
                                >
                                {% translate 'View details' %}
                            </a>
                            &nbsp; &nbsp;
                            {% endif %}
                            <a class="btn btn-primary" href="{% url 'subprojects:map' %}">{% translate 'Map View' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                {% if form_mixin.errors %}
                                    {% for field in form_mixin %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form_mixin.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                
                                {% for field in form %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                                        <div class="col-sm-8">
                                            {{ field }}
                                        </div>
                                        {% if field.errors %}
                                            <div class="alert alert-danger alert-sm form_alert">{{ field.errors }}</div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                                 
                                <button type="submit" class="btn btn-primary float-right" >{% translate 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        

        $(document).ready(function () {
            {% get_current_language as lang %}



            //Datetimepicker Input
            $('b[role="presentation"]').hide();
            $('.select2-selection__arrow').append(
                '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');
            let dp1 = '<div class="input-group-prepend" data-target="#{id}" data-toggle="datetimepicker">' +
                '<div class="input-group-text"><i class="fa fa-calendar text-primary"></i></div></div>';
            let dp2 = '<div class="input-group date" id="{id}" data-target-input="nearest"></div>';
            //Datemask dd/mm/yyyy
            $('.datetimepicker-input').inputmask({alias: "datetime", inputFormat: "dd/mm/yyyy"});
            let defaultDate = Date.now();
            
            let help_text1 = null;
            {% for field in form %}
                {% if "date" in field.name %}
                    $(('#id_{{ field.name }}')).before(dp1.replace('{id}', '{{ field.name }}')).parent().wrapInner(
                        dp2.replace('{id}', '{{ field.name }}'));
                    
                    help_text1 = $('#{{ field.name }} small')[0];
                    $('#{{ field.name }} small').remove();
                    $('#{{ field.name }}').after(help_text1);

                    {% if field.value %}
            defaultDate = '{{ field.value|date:'Y-m-d' }}';//moment('{{ field.value }}').format('YYYY-MM-DD'); //moment("{{ field.value }}", "YYYY-MM-DD");
        {% else %}
            defaultDate = false;
        {% endif %}
        
        if(defaultDate){
            $('#{{ field.name }}').datetimepicker({
                maxDate: Date.now(),
                useCurrent: false,
                defaultDate: defaultDate,
                format: "DD/MM/YYYY",
                widgetPositioning: {
                    vertical: 'bottom',
                }
            });
        }else{
            $('#{{ field.name }}').datetimepicker({
                maxDate: Date.now(),
                format: "DD/MM/YYYY",
                widgetPositioning: {
                    vertical: 'bottom',
                }
            });
        }
        
                    

                {% endif %}
            {% endfor %}


        

        

        

            //End Datetimepicker Input




            
        });
    </script>








    <script type="text/javascript">
        function set_datas(element, data){
            $(element).next().find('b[role="presentation"]').hide();
            $(element).next().find('.select2-selection__arrow').append(
                '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

            let options = '';
            $.each(data, function (index, value) {
                let option = '<option value="' + value.id + '" selected>';
                
                option += value.name + '</option>';
                options += option

            });
            element.html(options);
            element.trigger('change');
            let element_val = element.val();
            if (element_val !== '') {
                element.val(element_val)
            }
        }

        $(document).ready(function () {
            {% get_current_language as lang %}
            let child = $("#id_list_of_beneficiary_villages");
            let subproject_id = null;
            
            {% if object or subproject %}
            subproject_id = "{{ object.id }}";
            {% else %}
            // child.html('');
            {% endif %}

            $(document).on("change", "#id_canton", function () {
                if($(this).val()){
                    $(this).attr('disabled', true);
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'administrativelevels:utils:get_choices_for_next_administrative_level_no_condition' %}",
                        data: {
                            parent_id: $(this).val()
                        },
                        success: function (data) {
                            if (data.length > 0) {
                                set_datas(child, data);
                            }
                        },
                        error: function (data) {
                            alert(error_server_message + "Error " + data.status);
                            $("#id_canton").attr('disabled', false);
                        }
                    }).done(function () {
                            $("#id_canton").attr('disabled', false);
                        }
                    );
                }else{
                    set_datas(child, []);
                }
            });


            $(document).on("change", "#id_location_subproject_realized", function () {
                if($(this).val()){
                    $(this).attr('disabled', true);
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'administrativelevels:utils:get_administrative_level_for_cvd_by_adl' %}",
                        data: {
                            administrative_level_id: $(this).val()
                        },
                        success: function (data) {
                            if (data.length > 0) {
                                set_datas(child, data);
                            }
                        },
                        error: function (data) {
                            alert(error_server_message + "Error " + data.status);
                            $("#id_location_subproject_realized").attr('disabled', false);
                        }
                    }).done(function () {
                            $("#id_location_subproject_realized").attr('disabled', false);
                        }
                    );
                }else{
                    set_datas(child, []);
                }
            });
            
        });
    </script>

{% endblock %}
