{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}
{% block extracss %}
    <link href="{% static 'plugins/mapbox-gl-js/v2.6.1/mapbox-gl.css' %}" rel="stylesheet">
    <style>
        #map {
            height: 1253px;
        }
        .carte-legend p {
            font-weight: bold;
            margin-top: 17px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card transparent">
                <div class="card-header">
                    <div class="col-md-12">
                        {% if user.is_superuser or user|has_group:"Admin" %}
                        <div class="btn-group pull-left">
                            <a class="btn btn-primary" href="{% url 'subprojects:create' %}">{% translate 'Create Subproject' %}</a>
                        </div>
                        {% endif %}
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary" href="{% url 'subprojects:list' %}">{% translate 'List Subprojects' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="overlay-wrapper">
                        <div class="row">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row carte-legend">
                                                    <div class="col-4">
                                                        <img src="{% static 'images/identified.png' %}" width="50" height="60" />
                                                    </div>
                                                    <div class="col-4">
                                                        <p>{% translate 'Identified' %}</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <span>Savenes: - </span><br />
                                                        <span>Kara: - </span><br />
                                                        <span>Centrale: - </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row carte-legend">
                                                    <div class="col-4">
                                                        <img src="{% static 'images/no_approve.png' %}" width="50" height="60" />
                                                    </div>
                                                    <div class="col-4">
                                                        <p>{% translate 'No approve' %}
                                                    </div>
                                                    <div class="col-4">
                                                        <span>Savenes: - </span><br />
                                                        <span>Kara: - </span><br />
                                                        <span>Centrale: - </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row carte-legend">
                                                    <div class="col-4">
                                                        <img src="{% static 'images/in_progress.png' %}" width="50" height="60" />
                                                    </div>
                                                    <div class="col-4">
                                                        <p>{% translate 'In progress' %}</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <span>Savenes: - </span><br />
                                                        <span>Kara: - </span><br />
                                                        <span>Centrale: - </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row carte-legend">
                                                    <div class="col-4">
                                                        <img src="{% static 'images/interrupted.png' %}" width="50" height="60" />
                                                    </div>
                                                    <div class="col-4">
                                                        <p>{% translate 'Interrupted' %}</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <span>Savenes: - </span><br />
                                                        <span>Kara: - </span><br />
                                                        <span>Centrale: - </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row carte-legend">
                                                    <div class="col-4">
                                                        <img src="{% static 'images/completed.png' %}" width="50" height="60" />
                                                    </div>
                                                    <div class="col-4">
                                                        <p>{% translate 'Completed' %}</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <span>Savenes: - </span><br />
                                                        <span>Kara: - </span><br />
                                                        <span>Centrale: - </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row carte-legend">
                                                    <div class="col-12">
                                                        <span><b>Savenes: - </b></span><br />
                                                        <span><b>Kara: - </b></span><br />
                                                        <span><b>Centrale: - </b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-body" style="height: 1300px;">
                                        <div id="map" style="height: 1700px !important;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlay z-index1000" id="statistics-spin">
                            <i class="fas fa-10x fa-sync-alt fa-spin">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'plugins/mapbox-gl-js/v2.6.1/mapbox-gl.js' %}"></script>
    <script>
        let statistics_spin = $('#statistics-spin');
        let markers = [];
        let marker;

        mapboxgl.accessToken = '{{ access_token }}';
        if (!mapboxgl.supported()) {
            alert('Your browser does not support Mapbox GL');
        }
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [{{ lng }}, {{ lat }}],
            zoom: {{ zoom }}
        });

        const bounds = [
            {{ ws_bound }}, // [west, south]
            {{ en_bound }}  // [east, north]
        ];
        // Set the map's max bounds.
        map.setMaxBounds(bounds);

        map.on('load', function () {
            map.addLayer(
                {
                    'id': 'country-boundaries',
                    'source': {
                        'type': 'vector',
                        'url': 'mapbox://mapbox.country-boundaries-v1',
                    },
                    'source-layer': 'country_boundaries',
                    'type': 'fill',
                    'paint': {
                        'fill-color': '#00FFFF',
                        'fill-opacity': 0.2,
                    },
                },
                'country-label'
            );

            map.setFilter('country-boundaries', [
                "in",
                "iso_3166_1_alpha_3",
                '{{ country_iso_code }}',
            ]);

            setTimeout(function () {
                statistics_spin.hide();
            }, 1000);
        });
        //#ffa500
        //#ff0000 #b40219
        //#0000ff
        //#000000
        //#008200
        {% comment %} marker = new mapboxgl.Marker({ "color": "#ffa500" })
                    .setLngLat([1.176201, 9.547689])
                    .setPopup( // add pop out to map
      new mapboxgl.Popup({ offset: 25 }).setHTML(
        `<br />
        <p><b>${"hhhhhhhhhhh"}</b></p>
        <a href="#!"><b>${"hhhhhhhhhhh"}</b></a>
        `
      )
    )
                    .addTo(map);
                markers.push(marker);  {% endcomment %}
        {% for subproject in subprojects %}
            {% if subproject.latitude and subproject.longitude %}
                {% if subproject.location_subproject_realized %}
                    marker = new mapboxgl.Marker()
                        .setLngLat([{{ subproject.longitude }}, {{ subproject.latitude }}])
                        .setPopup(
                            new mapboxgl.Popup({ offset: 25 }).setHTML(
                                `<br />
                                <a target="_blank" href="{% url 'administrativelevels:detail' subproject.location_subproject_realized.pk %}?type=Village"><b>{{ subproject.location_subproject_realized.name }}</b></a>
                                <a target="_blank" href="{% url 'subprojects:detail' subproject.pk %}"><b>{{ subproject.full_title_of_approved_subproject }}</b></a>
                                `
                            )
                        )
                        .addTo(map);
                    markers.push(marker);
                {% elif subproject.canton %}
                    marker = new mapboxgl.Marker()
                        .setLngLat([{{ subproject.longitude }}, {{ subproject.latitude }}])
                        .setPopup(
                            new mapboxgl.Popup({ offset: 25 }).setHTML(
                                `<br />
                                <a target="_blank" href="{% url 'administrativelevels:detail' subproject.canton.pk %}?type={{ subproject.canton.type }}"><b>{{ subproject.canton.name }}</b></a>
                                <a target="_blank" href="{% url 'subprojects:detail' subproject.pk %}"><b>{{ subproject.full_title_of_approved_subproject }}</b></a>
                                `
                            )
                        )
                        .addTo(map);
                    markers.push(marker);
                {% endif %}
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}
