{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3 search-bar">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="search" placeholder="{% translate 'Search' %}...">
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            <a class="btn btn-primary" href="{% url 'subprojects:create' %}">{% translate 'Create' %}</a>
                            &nbsp; &nbsp; &nbsp; &nbsp; 
                            {% include 'components/modal_upload_one_sheet.html' with type_object="subproject_new" show_just_villages=False %}
                        </div>
                        <div class="btn-group pull-right">
                            {% include 'components/download_subprojects.html' %}
                            <div> &nbsp; &nbsp; </div>
                            <a class="btn btn-primary" href="{% url 'subprojects:map' %}">{% translate 'Map View' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table" class="table">
                        <thead>
                        <tr>
                            <th>{% translate 'Village' %}</th>
                            <th>{% translate 'Canton' %}</th>
                            <th>{% translate 'Region' %}</th>
                            <th>{% translate 'Project Name' %}</th>
                            <th>{% translate 'Allocation' %} CFA</th>
                            <th width="12%">{% translate 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subproject in subprojects %}
                            <tr>
                                <td>{{ subproject.administrative_level.name }}</td>
                                <td>{{ subproject.get_cantons_names }}</td>
                                <td>{{ subproject.administrative_level.parent.parent.name }}</td>
                                <td>{{ subproject.full_title_of_approved_subproject }}</td>
                                <td>{{ subproject.get_estimated_cost_str }}</td>
                                <td>
                                    <a href="{% url 'subprojects:detail' subproject.pk %}" style="font-size: 9px !important;"
                                       class="btn btn-primary btn-xs" title="{% translate 'View details' %}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{% url 'subprojects:update' subproject.pk %}" style="font-size: 9px !important;"
                                       class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ],
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
    </script>
{% endblock %}
