{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/datepicker/date-picker.css' %}" />
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="clearfix">
            <div class="float-left">
                <h6 class="text-danger">{% translate 'Last Updated' %} {{ object.updated_date|date:"d/m/Y" }}</h6>
            </div>
            <div class="float-right">
                <span href="#" class="font-weight-bold" style="background-color: #ffac67; color: white; padding: 7px; border-radius: 5px;">
                    {% if object.current_level_of_physical_realization_of_the_work %}
                        {{ object.current_level_of_physical_realization_of_the_work }}
                    {% else %}
                        {% translate 'No start' %}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-body">

                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold text-sm">{% translate 'Subproject Description' %}</h5>
                    </div>
                    <div class="float-right">
                        <a href="#" class="font-weight-bold">{% translate 'Update' %}</a>
                    </div>
                </div>

                <div class="clearfix pb-1" >
                    <span class="font-weight-bold">{% translate 'Location' %}: </span>
                    {% if object.location_subproject_realized %}
                        <a style="color: #599cf7 !important;" target="_blank" 
                            href="{% url 'administrativelevels:village_detail' object.location_subproject_realized.pk %}" >
                            {{ object.get_location }}
                        </a>
                    {% else %}
                        <span style="color: #599cf7 !important;">
                            {{ object.get_location_commune }}, 
                            <a style="color: #599cf7 !important;" target="_blank" 
                                href="{% url 'administrativelevels:detail' object.canton.pk %}" >
                                {{ object.canton.name }}
                            </a>
                            {% for sp in object.subproject_set.get_queryset %}
                                / <a style="color: #599cf7 !important;" target="_blank" 
                                    href="{% url 'administrativelevels:detail' sp.canton.pk %}" >
                                    {{ sp.canton.name }}
                                </a>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% if object.location_subproject_realized %}
                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'CVD' %}: </span>
                    <span>
                        {{ object.cvd.name }} (
                            {% for vg in object.cvd.get_villages %}
                                <a style="color: #599cf7 !important;" target="_blank" 
                                    href="{% url 'administrativelevels:village_detail' vg.pk %}" >
                                    {{ vg.name }}
                                </a>
                                {% if not forloop.last %}
                                    / 
                                {% endif %}
                            {% endfor %}
                        )
                    </span>
                </div>
                {% endif %}

                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'Sector' %}: </span><span>{{ object.subproject_sector }}</span>
                </div>

                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'Type' %}: </span><span>{{ object.type_of_subproject }}</span>
                </div>

                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'Description' %}: </span><span>{{ object.full_title_of_approved_subproject }}</span>
                </div>

                {% if drilling_flow_rate %}
                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'Boring Flow' %} (m3): </span><span>{{ object.drilling_flow_rate }}</span>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            {% if object.get_principal_image %}
            <img class="card-img rounded" src="{{ object.get_principal_image.url|imgAWSS3Filter }}" width="333" height="200"
                alt="Card image" data-toggle="modal" data-target="#show-images-update" >
            {% else %}
            <img class="card-img rounded" src="{% static 'images/village-image.jpg' %}" width="333" height="200"
                alt="Card image"  data-toggle="modal" data-target="#show-images-update">
            {% endif %}

            <div style="clear; both;"></div>
            <div class="card-img-overlay flex-column">
                <div class="mt-auto">
                    <div class="card-img-overlay d-flex flex-column">
                        <div style="display: block;">
                            {% include 'components/image_add.html' %}
                        </div>
                        {% if object.get_principal_image %}
                        {% comment %} <div class="col-2"></div>
                        <div class="col-8">
                            <div class="card rounded-1" style="background-color: wheat; opacity: 250% !important;">
                                <div class="card-body">
                                    {{ object.get_principal_image.name }}    
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div style="display: block;" >
                            <span
                                style="color: black; background-color: wheat; opacity: 250% !important; margin-left: -10px !important;" >
                                {{ object.get_principal_image.name }}
                            </span>
                        </div>
                        {% endif %}
                        {% if object.get_all_images %}
                        {% comment %} <div class="col-1">
                            <div class="card rounded-1" style="background-color: wheat; opacity: 250% !important;">
                                <div class="card-body">
                                    <a href="#!" style="color: black;"  data-toggle="modal" data-target="#show-images-update" >
                                        <i class="fas fa-bars" style="font-size: 25px !important; margin-left: -7px !important;"></i>
                                    </a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div style="display: block;" class="mt-auto">
                            <a href="#!" style="color: black;"  data-toggle="modal" data-target="#show-images-update" >
                                <i class="fas fa-bars" style="font-size: 25px !important; margin-left: -7px !important; background-color: wheat; opacity: 250% !important; padding: 10px; bottom: 0px !important;"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>









<div class="row">
    <div class="col-4">
        <div class="card" >
            <div class="card-header">
                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold">{% translate 'Facilitator' %}</h5>
                    </div>
                    <div class="float-right">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                
                 <div class="clearfix">
                    <a href="#" class="font-weight-bold">
                        {% if object.facilitator_name %}
                            {{ object.facilitator_name }}
                        {% else %}
                            {% translate 'Name not defined' %}
                        {% endif %}
                    </a>
                </div>

                {% if object.wave %}
                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'Wave' %}: </span><span>{{ object.wave }}</span>
                </div>
                {% endif %}

                {% if object.lot %}
                <div class="clearfix pb-1">
                    <span class="font-weight-bold">{% translate 'Lot' %}: </span><span>{{ object.lot }}</span>
                </div>
                {% endif %}

            </div>

                 
        </div>
    </div>
    <div class="col-4">
       <div class="card">
            <div class="card-header">
                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold">{% translate 'Financial' %}</h5>
                    </div>
                    <div class="float-right">
                        <a href="#" class="font-weight-bold">{% translate 'Add Movement' %} <i
                                class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="card bg-light" style="height: 30px;">
                    <div class="card-body">
                        <div class="font-weight-bold">
                             <div class="clearfix">
                                <div class="float-left">
                                    <h5 class="font-weight-bold">{% translate 'Remaining' %} </h5>
                                </div>
                                <div class="float-right"><a href="#" class="font-weight-bold text-primary">6000 USD</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                 <div class="clearfix">
                    <div class="float-left">
                        <h6 class="font-weight-bold text-danger">- 550 USD</h6>
                    </div>
                    <div class="float-right">
                        <span href="#">{% translate 'Lorem ipsum' %} </span>
                    </div>
                </div>
                <hr>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <h6><a href="#" class="font-weight-bold text-primary">{% translate 'View All Movements' %}</a></h6>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold">{% translate 'Timeline' %}</h5>
                    </div>
                    <div class="float-right">
                        <a href="#" class="font-weight-bold">{% translate 'Update' %}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">

                 

            </div>
            <div class="card-footer d-flex justify-content-center">
                
            </div>
        </div>
    </div>
</div>








{% comment %} 
<div style="height: 15px;"></div>

<div class="row">
    <div class="col-4">
        <h4 class="font-weight-bold d-flex justify-content-center" style="margin-bottom: 25px;">{% translate 'Village Mapping' %}</h4>
        <div class="card">
            <div class="card-body" style="height: 300px;">

            </div>
        </div>
    </div>
    <div class="col-4">
        <h4 class="font-weight-bold d-flex justify-content-center" style="margin-bottom: 25px;">{% translate 'Village Priorities' %}
            &nbsp; <a href="{% url 'administrativelevels:priorities_priorities' object.id %}" class="font-weight-bold"> <i
                class="fas fa-plus"></i></a>
        </h4>
        <div class="card">
            {% if object.get_list_priorities %}
            <div class="card-body">
                {% for priority in object.get_list_priorities|slice:":5" %}
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                {% if priority.component %}
                                    {% with priority.name|add:" ("|add:priority.component.name|add:")" as namepriority_with_component %}
                                    <p class="" title="{{ namepriority_with_component }}">
                                        <i class="fas fa-project-diagram"></i> &nbsp; 
                                        {% if namepriority_with_component|length > 40 %}
                                            {{ namepriority_with_component|slice:":40" }}...
                                        {% else %}
                                            {{ namepriority_with_component }}
                                        {% endif %}
                                    </p>
                                    {% endwith %}
                                {% else %}
                                <p class="" title="{{ priority.name }}">
                                    <i class="fas fa-project-diagram"></i> &nbsp; 
                                    {% if priority.name|length > 40 %}
                                        {{ priority.name|slice:":40" }}...
                                    {% else %}
                                        {{ priority.name }}
                                    {% endif %}
                                </p>
                                {% endif %}
                            </div>
                            <div class="float-right">
                                <a href="#" class="font-weight-bold">{% translate 'View' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="card-footer d-flex justify-content-center">
                {% with object.get_list_priorities as priorities %}
                    {% include "components/priorities_modal.html" %}
                {% endwith %}
            </div>
            {% else %}
            <div class="card-body">
                <div class="font-weight-bold d-flex justify-content-center text-danger" >
                    <p>{% translate 'Empty!' %}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-4">
        <h4 class="font-weight-bold d-flex justify-content-center" style="margin-bottom: 25px;">{% translate 'Village Development Plan' %}</h4>
        <div class="card">
            <div class="card-body" style="height: 300px;">

            </div>
        </div>
    </div>
</div> {% endcomment %}
<div class="modal modal-warning messageModalImage" id="popup-messages-images">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <span id="messageModalImage"></span>
            </div>
        </div>
    </div>
</div>










<!-- Modal -->
<div class="modal fade" id="show-images-update" tabindex="-1" role="dialog"
    aria-labelledby="ImagesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="imagesHeader">
                        {% translate 'Images' %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for img in object.get_all_images %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" {% if img.principal %}class="active"{% endif %} ></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                
                                {% for img in object.get_all_images %}

                                    <div class="carousel-item {% if img.principal %}active{% endif %}">
                                                    
                                        
                                        <a target="_blank" href="{{ img.url|imgAWSS3Filter }}">
                                            <img class="d-block w-100" src="{{ img.url|imgAWSS3Filter }}" alt="{{ img.name }}">
                                        </a>
                                        <div class="carousel-caption d-none d-md-block">
                                            <div style="margin-top: -370px !important;">
                                                <h5>{{ img.name }}</h5>
                                            </div>
                                        </div>

                                        <form method="post" enctype="multipart/form-data"
                                            action="{% url 'subprojects:utils:update_image' %}">
                                            {% csrf_token %}

                                            <div style="width: 70% !important; margin: auto !important; margin-top: 15px !important;">
                                                <input type="hidden" name="object_id_update" value="{{ object.id }}" id="object_id_update" />
                                                <input type="hidden" name="image_id" value="{{ img.id }}" id="image_id" />

                                                <div class="form-group" id="name_content">
                                                    <label for="name_update">{% translate 'Name' %}</label>
                                                    <input type="text" name="name_update" id="name_update" class="form-control" value="{{ img.name }}" required />
                                                </div>

                                                <div class="form-group" id="order_content">
                                                    <label for="order_update">{% translate 'Order' %}</label>
                                                    <input type="number" name="order_update" id="order_update" class="form-control" value="{{ img.order }}" required />
                                                </div>

                                                <div class="form-group" id="date_taken_content">
                                                    <label for="date_taken_update">{% translate 'Date taken' %} ({{ img.date_taken }})</label>
                                                    <input type="date" name="date_taken_update" id="date_taken_update" class="form-control" value="{{ img.date_taken }}" required />
                                                </div>

                                                <div class="form-check" id="principal_content" style="margin-bottom: 30px !important; margin-left: 30px !important;">
                                                    <input type="checkbox" name="principal_update" id="principal_update" class="form-check-input" {% if img.principal %}checked{% endif %}  />
                                                    <label class="form-check-label" for="principal_update">{% translate 'Principal Image' %}</label>
                                                </div>
                                                    
                                                <p>
                                                    <button type="submit" class="btn btn-primary float-left" id="submit_btn_image_update">
                                                        {% translate 'Submit' %}
                                                    </button>
                                                    <a type="submit" class="btn btn-danger float-right" href="{% url 'subprojects:subproject_image_delete' img.id %}" >
                                                        {% translate 'Delete' %}
                                                    </a>
                                                    <div style="clear; both;"></div>
                                                <p>
                                                
                                            </div>
                                                

                                        </form>

                                    </div>

                                {% endfor %}


                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>



                </div>


        </div>

    </div>
</div>
<!-- End Modal -->







{% endblock %}




{% block javascript %}
{{ block.super }}


<script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.custom.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
            
            $(document).on("click", "#submit_btn_image_update", function (event) {
                event.preventDefault();
                const object_id = $('#object_id_update').val();
                const date_taken = $('#date_taken_update').val();
                const order = $('#order_update').val();
                const name = $('#name_update').val();
                if(order && order == 0){
                    alert(`{% translate "The order field must have a value greater than 0" %}`);
                    $("#submit_btn_image_update").attr('disabled', false);
                }else if(object_id && order && name){
                    $(this).attr('disabled', true);

                    {% comment %} try{ {% endcomment %}
                        var data =  new FormData();
                        data.append("image_id", $('#image_id').val());
                        data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                        data.append("object_id", $('#object_id_update').val());
                        data.append("date_taken", $('#date_taken_update').val());
                        data.append("order", $('#order_update').val());
                        data.append("name", $('#name_update').val());

                        var principal = document.getElementById("principal_update");
                        if (principal.checked == true){
                            principal_value = 1;
                        } else {
                            principal_value = 0;
                        }
                        data.append("principal",principal_value);

                        fetch("{% url 'subprojects:utils:update_image' %}", {
                            method: 'POST',
                            body: data
                        }).then(
                            response => response.json() 
                        ).then(datas => {

                            if(datas.ok){
                                location.reload();
                            }else{
                                $(".messageModalImage").modal("show");
                                $("#messageModalImage").text(datas.message);
                                window.setTimeout(function () {
                                    $(".messageModalImage").modal("hide");
                                    $("#messageModalImage").text("");
                                }, 4000);
                                $("#submit_btn_image_update").attr('disabled', false);
                            }

                        }).catch(
                            error => {
                                console.log(error);
                                alert(error);
                                $("#submit_btn_image_update").attr('disabled', false);
                            }
                        );
                    {% comment %} }catch(e){
                        alert(`{% translate "Please fill in all fields" %}`);
                        $("#submit_btn_image_update").attr('disabled', false);
                    } {% endcomment %}
                    

                }else{
                    alert(`{% translate "Please fill in all fields" %}`);
                    $("#submit_btn_image_update").attr('disabled', false);
                }
                

            });



            
        });

</script>
{% endblock %}