{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div >
                <div class="row">
                    <div class="col-5" class="input-group mb-3 search-bar">
                        <div method="get" class="d-flex">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" id="search" placeholder="{% translate 'Search in table' %}...">
                        </div>
                    </div>
                    <div class="col-6" class="input-group mb-3 search-bar">
                        <form method="get" class="d-flex">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" name="search" placeholder="{% translate 'Search in database' %}...">
                            <input class="btn btn-primary" type="submit" value="{% translate 'Search' %}">
                        </form>
                    </div>
                    <div class="col-1" class="input-group mb-3 search-bar">
                        <form method="get" class="d-flex">
                            <input type="hidden" name="search" value="All">
                            <input class="btn btn-primary" type="submit" value="{% translate 'All' %}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        {% if user.is_superuser or user|has_group:"Admin" %}
                        <div class="btn-group pull-left">
                            <a class="btn btn-primary" href="{% url 'subprojects:create' %}">{% translate 'Create' %}</a>
                            &nbsp; &nbsp; &nbsp; &nbsp; 
                            {% include 'components/modal_upload_one_sheet.html' with type_object="subproject_new" show_just_villages=False %}
                        </div>
                        {% endif %}
                        <div class="btn-group pull-right">
                            {% include 'components/download_subprojects.html' %}
                            <div> &nbsp; &nbsp; </div>
                            <a class="btn btn-primary" href="{% url 'subprojects:map' %}">{% translate 'Map View' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table" class="table">
                        <thead>
                        <tr>
                            <th>{% translate 'Village' %}</th>
                            <th>{% translate 'Canton' %}</th>
                            <th>{% translate 'Region' %}</th>
                            <th>{% translate 'Project Name' %}</th>
                            <th>{% translate 'Allocation' %} CFA</th>
                            <th width="12%">{% translate 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subproject in subprojects %}
                            <tr>
                                <td>{{ subproject.get_village.name }}</td>
                                <td>{{ subproject.get_cantons_names }}</td>
                                <td>{{ subproject.get_canton.parent.parent.parent.name }}</td>
                                <td>{{ subproject.full_title_of_approved_subproject }}</td>
                                <td>{{ subproject.get_estimated_cost_str }}</td>
                                <td>
                                    <a href="{% url 'subprojects:detail' subproject.pk %}" style="font-size: 9px !important;"
                                       class="btn btn-primary btn-xs" title="{% translate 'View details' %}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% if user.is_superuser or user|has_group:"Admin" %}
                                    <a href="{% url 'subprojects:update' subproject.pk %}" style="font-size: 9px !important;"
                                       class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <b>{{ total_without_link }}/{{ total }} {% translate 'Subprojects' %}</b>

                    

                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if subprojects.has_previous %}
                                <li>
                                    <a class="page-link" href="?page={{ subprojects.previous_page_number }}">
                                        {% comment %} <span aria-hiden="true">&laquo;</span> {% endcomment %}
                                        <i class="fa fa-arrow-left text-bold"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <p class="page-link text-bold">
                                    {% translate 'Page' %} {{ subprojects.number }} {% translate 'of' %} {{ subprojects.paginator.num_pages }}
                                </p>
                            </li>
                            {% if subprojects.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ subprojects.next_page_number }}">
                                        {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                                        <i class="fa fa-arrow-right text-bold"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ],
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
    </script>
{% endblock %}
